<input
    type="text" required
    placeholder="City"
    autocomplete="off"
    id="city" name="city"
    tabindex="6"
    [value]="value"
    [matAutocomplete]="auto"
    #formInput
    (keyup)="onChangeLocation($event)">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option
            *ngFor="let city of autocompleteLocations"
            [value]="city"
            (onSelectionChange)="onSelectChange($event)">
            <div class="wrap-select">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        location_city
                    </span>
                </div>
                <div
                    class="address-line-1"
                    [innerHTML]="city.city | autocompleteHighlight: value">
                </div>
                <div class="address-line-2">
                    {{ city.country }}
                </div>
            </div>
        </mat-option>
    </mat-autocomplete>
