<div class="country-code__select" (click)="toggleDropdown2($event)">
    <img class="flag" [src]="'https://flagsapi.com/'+ currentCountry.code+'/flat/24.png'" alt="flag">
    <span class="code">{{ currentCountry.dial_code }}</span>
    <button type="button">
        <img src="assets/svg/dropdown.svg" alt="dropdown">
    </button>
</div>

@if (isOpen) {
    <div class="country-code__dropdown" (click)="selectCountry($event)" [@fadeInOut]>

        @for (country of countryCodes; track country.code; let i = $index ) {
            @defer {
                <div class="country-code__item" [attr.data-select]="i">
                    <img [src]="'https://flagsapi.com/'+country.code+'/flat/24.png'" alt="flag">
                    <span class="code">{{ country.dial_code }}</span>
                    <span class="country-name"> {{ country.name }}</span>
                </div>
            }
            @loading {
                <article>Loading...</article>
            }
            @placeholder {
                <div class="country-code__placeholder-item">
                    <div class="country-code__placeholder-img"></div>
                    <div class="country-code__placeholder-country-name"></div>
                </div>
            }
        }

    </div>
}

