<h1>Posts Database</h1>

<div class="card">
	<div class="title">Last posts</div>
	<div class="content">
		<table>
			<tr>
				<th>№</th>
				<th>Post name</th>
				<th>Creation date</th>
				<th>User name</th>
				<th>Actions</th>
			</tr>

			<ng-template [ngIf]="!isLoading">
                @for (post of posts; let i = $index; track post.id) {
                    <tr>
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td 
                            [matTooltip]="post.header"
                            matTooltipShowDelay="300">
                            {{ post.header }}
                        </td>
                        <td class="creation-date">
                            {{ post.createdAt | date:'MMM dd, yyyy HH:mm' }}
                        </td>
                        <td>
                            {{ post.user?.firstName }} {{ post.user?.lastName }}
                        </td>
                        <td class="wrap-buttons">
                            <button 
                                mat-stroked-button 
                                routerLink="/admin/edit-post/{{post.id}}">
                                Edit
                            </button>
                            <button 
                                (mousedown)="startDeleteTimeout(post.id!)"
                                (mouseup)="clearDeleteTimeout()"
                                (mouseout)="clearDeleteTimeout()"
                                [class.deleting]="isDeleting && activeDeletingIndex === post.id!"
                                mat-fab color="warn"
                                matTooltip="Press to delete"
                                matTooltipShowDelay="300">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </td>
                    </tr>
                }
				
			</ng-template>

			<ng-template [ngIf]="isLoading || isLoadingMore">
                @for (i of [1, 2, 3, 4, 5, 6, 7]; track i) {
                    <tr class="loading">
                        @for (
                            tdClass of ['', '', 'creation-date', '', 'wrap-buttons']; 
                            track tdClass
                        ) {
                            <td [class]="tdClass"></td>
                        }
                    </tr>
                }
			</ng-template>
		</table>
	</div>
</div>

<div class="wrap-button-more">
	<button 
		mat-raised-button 
		(click)="onButtonMoreClick()" 
		*ngIf="pagesCount !== page + 1 && posts.length">
		Show more
	</button>
</div>
