<div class="wrap" [ngClass]="{'overflow-hidden': isFirstStep}">
	<div class="top">
		<div (click)="previousStep()" class="left">
			<span class="material-symbols-outlined" *ngIf="!isFirstStep">
				west
			</span>
		</div>
		<div (click)="close()" class="right">
			<span class="material-symbols-outlined right">
				close
			</span>
		</div>
	</div>
	<div class="content">
		<div class="step1" [ngClass]="{'skipped': !isFirstStep}">
			<h2>Get Started</h2>
			<div class="description">
				Tell us who you are so we can match you with the right treatment or opportunity
			</div>

			<ol class="wrap-options">
				<li (click)="nextStep('Patient')">
					<div class="left">
						<img src="assets/img/heart.webp" alt="heart">
					</div>
					<div class="right">
						<h4>Patient/Caregiver</h4>
						<div class="sub-title">
							Get Matched to Clinical Trials & Investigational Therapies
						</div>
					</div>
				</li>
				<li (click)="nextStep('Industry')">
					<div class="left">
						<img src="assets/img/telescope.webp" alt="telescope">
					</div>
					<div class="right">
						<h4>Drug Developers</h4>
						<div class="sub-title">
							Enroll Your Therapy & Connect with Eligible Patients
						</div>
					</div>
				</li>
        <li (click)="nextStep('Physician')">
					<div class="left">
						<img src="assets/img/ecosystem-icon.webp" alt="ecosystem">
					</div>
					<div class="right">
						<h4>The Ecosystem</h4>
						<div class="sub-title">
              Everyone else helping bring care, hope and support to patients needing novel therapies
              <ul>
                <li>Health care providers/Facilities</li>
                <li>Venture funding/Impact investors</li>
                <li>Licensing/Tech transfer offices</li>
                <li>Philanthropy, Donors</li>
                <li>Social workers, Advocacy groups, Chaplains Spiritual Care</li>
              </ul>
            </div>
					</div>
				</li>
			</ol>
		</div>

		<div *ngIf="isLoaded" class="step2" [ngClass]="{'active': !isFirstStep}" #step2>
			<div class="wrap-form">

				<!-- * Patient Signup -->
				<form
					*ngIf="statusForm === 'Patient'"
					(ngSubmit)="onSubmitButton('Patient')">
					<div class="error-message" *ngIf="errorMessage">
						{{ errorMessage }}
					</div>

					<h2>Patient Signup</h2>
					<label>I'm signing up for</label>
					<div class="wrap-checkboxes">
						<div
							(click)="chooseSigningUpFor(true)"
							class="checkbox"
							[ngClass]="{'active': isMySelf}">
							Myself
						</div>
						<div
							(click)="chooseSigningUpFor(false)"
							class="checkbox"
							[ngClass]="{'active': !isMySelf}">
							Someone else
						</div>
					</div>

					<div class="wrap-inputs">
						<div class="left-side">
							<div class="group">
								<label for="firstName">Patient name</label>
								<input
									autocomplete="given-name"
									type="text" required
									placeholder="First"
									id="firstName" name="firstName"
									[(ngModel)]="firstName">
							</div>
							<div class="group">
								<label for="lastName">Last Name</label>
								<input
									autocomplete="family-name"
									type="text" required
									placeholder="Last"
									id="lastName" name="lastName"
									[(ngModel)]="lastName">
							</div>
						</div>
						<div class="right-side">
							<div class="group">
								<label for="phone">Phone</label>
								<input
									type="tel" required
									placeholder="+1 212 001 002"
									id="phone" name="phone"
									[(ngModel)]="phone">
							</div>
							<div class="group">
								<label for="location">Location</label>
								<input
									autocomplete="address-line1"
									type="text" required
									placeholder="Miami, FL"
									id="location" name="location"
									[(ngModel)]="location">
							</div>
							<div class="group">
								<label for="email">Email</label>
								<input
									type="text" required
									placeholder="name@email.com"
									id="email" name="email"
									[(ngModel)]="email">
							</div>
							<div class="group">
								<label for="password">Password</label>
								<input
									required
									[type]="isShowPassword ? 'text' : 'password'"
									id="password" name="password"
									placeholder="*min 8 characters"
									minlength="8"
									[(ngModel)]="password">

								<div class="hide">
									<span
										(click)="toggleShowingPassword()"
										class="material-symbols-outlined"
										*ngIf="isShowPassword">
										visibility
									</span>
									<span
										(click)="toggleShowingPassword()"
										class="material-symbols-outlined"
										*ngIf="!isShowPassword">
										visibility_off
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="group-checkbox">
						<input type="checkbox" name="remember" id="remember" [(ngModel)]="isAgreeTerms">
						<label for="remember">I understand the terms and privacy policy</label>
					</div>

					<div class="wrap-btn">
						<button
							type="submit"
							class="btn-green"
							[disabled]="!isAgreeTerms || isSending" >
							<ng-template [ngIf]="isSending">
								<mat-spinner></mat-spinner>
							</ng-template>

							<ng-template [ngIf]="!isSending">
								Submit
							</ng-template>
						</button>
					</div>
				</form>
				<!-- * END Patient Signup -->

				<!-- * Physician Signup -->
				<form
					*ngIf="statusForm === 'Physician'"
					(ngSubmit)="onSubmitButton('Physician')">
					<div class="error-message" *ngIf="errorMessage">
						{{ errorMessage }}
					</div>

					<h2>Physician Signup</h2>

					<div class="wrap-inputs">
						<div class="left-side">
							<div class="group">
								<label for="firstName">Name</label>
								<input
									autocomplete="given-name"
									type="text" required
									placeholder="First"
									id="firstName" name="firstName"
									[(ngModel)]="firstName">
							</div>
							<div class="group">
								<label for="lastName">Last Name</label>
								<input
									autocomplete="family-name"
									type="text" required
									placeholder="Last"
									id="lastName" name="lastName"
									[(ngModel)]="lastName">
							</div>
						</div>
						<div class="right-side">
							<div class="group">
								<label for="email">Email</label>
								<input
									type="email" required
									placeholder="name@email.com"
									id="email" name="email"
									[(ngModel)]="email">
							</div>
							<div class="group">
								<label for="location">Location</label>
								<input
									autocomplete="address-line1"
									type="text" required
									placeholder="Miami, FL"
									id="location" name="location"
									[(ngModel)]="location">
							</div>
							<div class="group">
								<label for="phone">Phone</label>
								<input
									type="tel" required
									placeholder="+1 212 001 002"
									id="phone" name="phone"
									[(ngModel)]="phone">
							</div>
							<div class="group">
								<label for="hospital">Hospital name</label>
								<input
									type="text" required
									placeholder="Hospital/clinic name"
									id="hospital" name="hospital"
									[(ngModel)]="hospital">
							</div>
							<div class="group">
								<label for="password">Password</label>
								<input
									required
									placeholder="*min 8 characters"
									[type]="isShowPassword ? 'text' : 'password'"
									id="password" name="password"
									minlength="8"
									[(ngModel)]="password">

								<div class="hide">
									<span
										(click)="toggleShowingPassword()"
										class="material-symbols-outlined"
										*ngIf="isShowPassword">
										visibility
									</span>
									<span
										(click)="toggleShowingPassword()"
										class="material-symbols-outlined"
										*ngIf="!isShowPassword">
										visibility_off
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="group-checkbox">
						<input
							type="checkbox"
							name="remember"
							id="remember"
							required
							[(ngModel)]="isAgreeTerms">
						<label for="remember">I understand the terms and privacy policy</label>
					</div>

					<div class="wrap-btn">
						<button
							class="btn-green"
							[disabled]="!isAgreeTerms || isSending" >
							<ng-template [ngIf]="isSending">
								<mat-spinner></mat-spinner>
							</ng-template>

							<ng-template [ngIf]="!isSending">
								Submit
							</ng-template>
						</button>
					</div>
				</form>
				<!-- * END Physician Signup -->

				<!-- * Industry Signup -->
				<form
					*ngIf="statusForm === 'Industry'"
					(ngSubmit)="onSubmitButton('Industry')">
					<div class="error-message" *ngIf="errorMessage">
						{{ errorMessage }}
					</div>

					<h2>Industry Signup</h2>

					<div class="wrap-inputs">
						<div class="left-side">
							<div class="group">
								<label for="firstName">Name</label>
								<input
									autocomplete="given-name"
									type="text" required
									placeholder="First"
									id="firstName" name="firstName"
									[(ngModel)]="firstName">
							</div>
							<div class="group">
								<label for="lastName">Last Name</label>
								<input
									autocomplete="family-name"
									type="text" required
									placeholder="Last"
									id="lastName" name="lastName"
									[(ngModel)]="lastName">
							</div>
						</div>
						<div class="right-side">
							<div class="group">
								<label for="email">Email</label>
								<input
									type="email" required
									placeholder="name@email.com"
									id="email" name="email"
									[(ngModel)]="email">
							</div>
							<div class="group">
								<label for="location">Location</label>
								<input
									autocomplete="address-line1"
									type="text" required
									placeholder="Miami, FL"
									id="location" name="location"
									[(ngModel)]="location">
							</div>
							<div class="group">
								<label for="phone">Phone</label>
								<input
									type="tel" required
									placeholder="+1 212 001 002"
									id="phone" name="phone"
									[(ngModel)]="phone">
							</div>
							<div class="group">
								<label for="company">Company name</label>
								<input
									type="text" required
									placeholder="Company/institute name"
									id="company" name="company"
									[(ngModel)]="company">
							</div>
							<div class="group">
								<label for="password">Password</label>
								<input
									required
									[type]="isShowPassword ? 'text' : 'password'"
									id="password" name="password"
									placeholder="*min 8 characters"
									minlength="8"
									[(ngModel)]="password">

								<div class="hide">
									<span
										(click)="toggleShowingPassword()"
										class="material-symbols-outlined"
										*ngIf="isShowPassword">
										visibility
									</span>
									<span
										(click)="toggleShowingPassword()"
										class="material-symbols-outlined"
										*ngIf="!isShowPassword">
										visibility_off
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="group-checkbox">
						<input type="checkbox" name="remember" id="remember" [(ngModel)]="isAgreeTerms">
						<label for="remember">I understand the terms and privacy policy</label>
					</div>

					<div class="wrap-btn">
						<button
							class="btn-green"
							[disabled]="!isAgreeTerms || isSending" >
							<ng-template [ngIf]="isSending">
								<mat-spinner></mat-spinner>
							</ng-template>

							<ng-template [ngIf]="!isSending">
								Submit
							</ng-template>
						</button>
					</div>
				</form>
				<!-- * END Industry Signup -->
			</div>
		</div>

		<!-- <button class="btn-green" (click)="close()">Okay</button> -->
	</div>
</div>
