<div class="wrap">
	<div class="content" *ngIf="!isLoading && isStatusOk">
		<h1>Your account is now active!!!!!!!</h1>
		<div class="description">
			Your account has been activated. You may now <a routerLink="/login">log in</a> to the site using your chosen username of “{{ user.email }}”. Please check your email inbox at {{ user.email }} for your login instructions. If you do not receive an email, please check your junk or spam folder.
		</div>
	</div>

	<div class="content" *ngIf="!isLoading && !isStatusOk">
		<h1>404 Bad Gateway</h1> <!--  {{ errorMessage }} -->
		<div class="description">
			You can use other <a routerLink="/"> our pages</a> :)
		</div>
	</div>
</div>