<div class="wrap">
	<div class="content">
		<img src="assets/img/about-us.png" alt="about-us">
		<div class="about-us">
			<h2>About us</h2>
			<div class="description">
				Every day, countless individuals face tremendous uncertainty, when they or their loved ones receive a catastrophic or life-threatening illness diagnosis and are left often with few options or none.<br /><br />

				There is an inherent urgency that comes with every cancer or catastrophic illness diagnosis. It causes everyone to stop in their tracks and take notice. But these diseases are complex and rapidly changing and so is what patients face and how they must deal with it to have <b>the best chance of living.</b><br /><br />

				Often, the patient, their loved ones, caretakers, and physicians feel defeated and assume that the end of the road has been reached. Patients themselves are too fatigued both emotionally and physically to be able to continue the fight alone. However, hope is never lost. There are many new treatments and research developments happening all the time, and there is always a chance for a better outcome.<br /><br />

				At the core of what we do lies an unwavering dedication to patients. We understand the overwhelming burden that catastrophic illnesses impose, and we are driven by a relentless desire to improve and extend lives. From the moment of contact with us, you and/or loved ones are embraced by a culture of care, compassion and commitment tailored to the individual’s unique needs that goes beyond medical treatment.<br /><br />

				<b>We recognize the burden</b> that coordinating the totality of care for complex diseases is beyond what patients, families, physicians, and other healthcare providers can provide.<br /><br />

				We started WondrLink to enable <b>the best care for our patients</b>, to alleviate the burdens of uncertainty, time spent researching options when every day counts, and to ensure that hope is never lost.<br /><br />

				Our three major strategic aims of our mission, care, compassion, and commitment are infused in everything we do. WondrLink ensures we achieve these 3 vital goals at once by providing patients the potential for best outcomes, by giving drug developers and healthcare providers the best chance to impact patients and the world at-large.<br /><br />

				Through continued collaboration we strive to bridge the gaps and overcome the challenges enabling pioneering breakthroughs to redefine healthcare today for all of us.<br /><br />
			</div>
		</div>
	</div>
</div>