<div class="wrap">
	<div class="content">
		<img src="assets/img/about-us.png" alt="about-us">
		<div class="about-us">
			<h2>About us</h2>
			<div class="description">
				There is an inherent urgency that comes with every cancer diagnosis. It causes everyone to stop in their tracks and take notice. But cancer is difficult and rapidly changing and so is what patients face and how they must deal with it to have the best chance at living. <br /><br />
				All too often, after rounds of treatment and numerous bad news, the patient, their loved ones, caretakers and physicians feel defeated and assume that the end of the road has been reached. Patients themselves are too fatigued both emotionally and physically to be able to continue the fight alone. 
				<b>However, hope is never lost.</b> <br /><br />
				I remember my grandfather even the day before he passed away, he still had hope and would have been willing to continue fighting if he had his way. My patients were no different, regardless of their age, cultural background, or social status. <br /><br />
				<b>We started Cancer Connector to enable the 3 major strategic aims for our mission: care, compassion, and commitment.</b> Cancer Connector enables us to achieve these 3 vital goals at once by providing patients the potential for best outcomes and giving researchers and physicians the best chance to impact patients and the world at-large.
			</div>
		</div>
	</div>
</div>