.wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 180px 25px;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('/assets/img/about-us-bg.webp');
    background-repeat: no-repeat;
    background-position: right;
    // background-color: #152032;
}

.content {
    width: 100%;
    max-width: 1086px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin: 0;
    color: white;
}

p {
    font-size: 28px;
    font-weight: 400;
    line-height: 38.25px;
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 52px;
    margin-bottom: 60px;
}

button {
    width: 240px;
    height: 60px;
}

img {
    height: 686px;
}

.gradient {
    position: absolute;
    left: 0px;
    height: 0px;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(274.1deg,
            rgba(38, 38, 38, 0.7) 2.22%,
            rgba(38, 38, 38, 0.9) 39.76%,
            #262626 50.81%);
}

@media (max-width: 1450px) {
    
    img {
        width: 100%;
        height: unset;
        max-width: 610px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 500px) {
    .wrap {
        padding: 100px 25px;
    }

    .content {
        row-gap: 0;
    }

    p {
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 24px;
        line-height: 32.78px;
    }

    h2 {
        font-size: 32px;
        line-height: 37.57px;
    }
}

@media (max-width: 430px) {

    button {
        width: calc(100dvw - 50px);
    }

}