
<div class="wrap">



    <h1>Terms and Conditions</h1>
    <p>Welcome to Cancer Connector</p>
    <p><em>Cancer Connector LLC</em> ("<em>Cancer Connector</em>", "<em>we</em>", "<em>us</em>", or "<em>our</em>") operates the website
        <a href="https://www.cancerconnector.com" class="highlight">https://www.cancerconnector.com</a>
        (the "<em>Service</em>"). These Terms and Conditions ("<em>Terms</em>") govern
        your access to and use of the <em>Service</em>, so please read them carefully before using the <em>Service</em>.</p>
    <h2>Acceptance of Terms</h2>
    <p>By accessing or using the Service, you agree to be bound by these Terms and all terms incorporated by reference. If you do not agree to all of these terms, do not use the Service.</p>
    <h2>Changes to Terms</h2>
    <p>We reserve the right to modify these Terms at any time. Any changes will be effective immediately upon posting to the Service. Your continued use of the Service after any changes signifies your acceptance of our updated Terms.</p>
    <h2>Use of the Service</h2>
    <p>Cancer Connector provides a platform to connect patients, drug companies, and doctors to enable better outcomes for patients. You agree to use the Service only for lawful purposes and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the Service.</p>
    <h2>Privacy Policy</h2>
    <p>Our Privacy Policy describes how we handle the information you provide to us when you use our Service. By using the Service, you also agree to our Privacy Policy.</p>
    <h2>Intellectual Property Rights</h2>
    <p>The Service and its original content, features, and functionality are and will remain the exclusive property of Cancer Connector LLC and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries.</p>
    <h2>Links to Other Web Sites</h2>
    <p>Our Service may contain links to third-party websites or services that are not owned or controlled by Cancer Connector LLC. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites or services.</p>
    <h2>Disclaimer of Warranties</h2>
    <p>The Service is provided on an <em>"AS IS"</em> and <em>"AS AVAILABLE"</em> basis. Cancer Connector LLC makes no representations or warranties of any kind, express or implied, as to the operation of their services, or the information, content, materials, or products included on this Service.</p>
    <h2>Limitation of Liability</h2>
    <p>In no event shall Cancer Connector LLC, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages arising out of your use of the Service or any other claim related in any way to your use of the Service.</p>
    <h2>Indemnification</h2>
    <p>You agree to defend, indemnify, and hold harmless Cancer Connector LLC, its officers, directors, employees, and agents, from and against any claims, liabilities, damages, losses, and expenses, including without limitation, reasonable attorney’s fees and costs, arising out of or in any way connected with your access to or use of the Service.</p>
    <h2>Governing Law</h2>
    <p>These Terms shall be governed and construed in accordance with the laws of Delaware, without regard to its conflict of law provisions.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us at <a href="mailto:contact@cancerconnector.com" class="highlight">contact&#64;cancerconnector.com</a>.</p>

</div>