:host {
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
    color: #152032;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    /* 120% */
    letter-spacing: normal;
    max-width: 1046px;
    width: 100%;
    margin-bottom: 40px;
}

span {
    max-width: 900px;
    font-size: 20px;

}

.introduction-wrap {
    display: flex;
    place-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    padding: 180px 0;
    background-color: white;
}

@media (max-width: 1450px) {
    .introduction-wrap {
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
    }

}

// @media (max-width: 1230px) {
//     p {
//         font-size: 2em;
//     }
// }

@media (max-width: 900px) {
    p {
        font-size: 24px;
        line-height: 32px;
    }

    br {
        display: none;
    }
}

@media screen and (max-width: 585px) {
    .introduction-wrap {
        padding-top: 320px !important;
    }
}


@media (max-width: 500px) {
    .introduction-wrap {
        padding: 100px 25px;
    }

    p {
        font-size: 20px;
        line-height: 24.5px;
    }
}