.back {
    position: absolute;
    cursor: pointer;
}

.back {
    top: 32px;
    left: 30px;
}


@media screen and (max-width: 800px) {
    .back {
        top: -5px;
        left: -5px;
        padding: 25px;
    }

}