.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 180px 15px;
}

.btn-green {
    width: 260px;
    height: 60px;
    margin-top: 56px;
}

.content {
    max-width: 850px;
    width: 100%;
    transition: all .3s;

    ::ng-deep {

        h2:first-child {
            margin-top: 0 !important;
        }

        h2 {
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 28px;
            font-weight: 700;
            line-height: 38.25px;
            text-align: left;

            color: rgba(38, 38, 38, 1);

        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24.59px;
            text-align: left;
           color: rgba(38, 38, 38, 1);
        }

        b {
            font-weight: 700;
        }

        ul {
            list-style-type: disc;
            margin-left: 34px;
            font-size: 18px;
            font-weight: 400;
            // opacity: 0.9;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-top: -11px;
        }
    }
}

@media screen and (max-width: 900px) {
    .wrap {
        padding: 120px 15px;
    }
}

@media (max-width: 650px) {
    .content {
        ::ng-deep h2 {
            text-align: center;
            font-size: 28px;
            line-height: 1.5;
        }

        ::ng-deep p {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 15px;
            text-align: justify;
        }
    }

    .wrap div {
        text-align: center;
    }
}

