<!-- * PC header -->
<div
	class="wrap"
	[ngClass]="{'out': isHeaderOut, 'in': isHeaderIn}">
	<header>
		<div class="logo" routerLink="/">
			<img src="assets/img/logo-black.svg" alt="wondrlink">
		</div>
		<ul>
			<li routerLink="patients">Patients</li>
			<li routerLink="drug-developers">Drug Developers</li>
			<li routerLink="physicians">Physicians</li>
			<li routerLink="ecosystem">Ecosystem</li>
			<li routerLink="insights">Insights</li>
            <li (click)="scrollToElement('about')">About us</li>
			<li (click)="scrollToElement('contact')">Contact us</li>
			<!-- <li>
				<ng-template [ngIf]="!isAdmin">
					<ng-template [ngIf]="isAuthenticated$ | async">
						<button
							class="btn-green"
							(click)="logout()">
							<ng-template [ngIf]="!isLoggingOut">Logout</ng-template>
							<ng-template [ngIf]="isLoggingOut">
								<span class="material-symbols-outlined">sync</span>
							</ng-template>
						</button>

					</ng-template>
				</ng-template>

				<ng-template [ngIf]="isAdmin">
					<ng-template [ngIf]="isAuthenticated$ | async">
						<button
							class="btn-green" routerLink="/admin">
							Go to Panel
						</button>
					</ng-template>
				</ng-template>

				<ng-template [ngIf]="!(isAuthenticated$ | async)">
					<button
						class="btn-green"
						routerLink="/login">
						Login
					</button>
				</ng-template>


			</li> -->
		</ul>
	</header>
</div>

<!-- * END PC header -->

<!-- * Phone header -->
<div
	class="wrap phone"
	[ngClass]="{'out': isHeaderOut && !isOpenBurger, 'in': isHeaderIn}">
	<header>
		<div class="logo" routerLink="/">
			<img src="assets/img/logo-black.svg" alt="wondrlink">
		</div>
		<div
			class="burger"
			[ngClass]="{'open': isOpenBurger}"
			(click)="toggleNavigation()">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>
	<div class="wrap-navigation" [ngClass]="{'show': isOpenBurger}">
		<ul (click)="isOpenBurger = false">
			<li routerLink="patients" style="--i:0s;">Patients</li>
			<li routerLink="drug-developers" style="--i:.12s;">Drug Developers</li><li routerLink="drug-developers" style="--i:.14s;">Physicians</li>
			<li routerLink="ecosystem" style="--i:.16s;">Ecosystem</li>
			<li routerLink="/insights" style="--i:.18s;">Insights</li>
            <li (click)="scrollToElement('about')" style="--i:.2s;">About us</li>
			<li (click)="scrollToElement('contact')" style="--i:.22s;">Contact us</li>
			<!-- <li style="--i:.3s;">
				<ng-template [ngIf]="!isAdmin">
					<ng-template [ngIf]="isAuthenticated$ | async">
						<button
							class="btn-green"
							(click)="logout()">
							<ng-template [ngIf]="!isLoggingOut">Logout</ng-template>
							<ng-template [ngIf]="isLoggingOut">
								<span class="material-symbols-outlined">sync</span>
							</ng-template>
						</button>

					</ng-template>
				</ng-template>

				<ng-template [ngIf]="isAdmin">
					<ng-template [ngIf]="isAuthenticated$ | async">
						<button
							class="btn-green" routerLink="/admin">
							Go to Panel
						</button>
					</ng-template>
				</ng-template>

				<ng-template [ngIf]="!(isAuthenticated$ | async)">
					<button
						class="btn-green"
						routerLink="/login">
						Login
					</button>
				</ng-template>
			</li> -->
		</ul>
	</div>
</div>

<!-- * END Phone header -->
