
form {
	width: 100%;
	position: relative;
	transition: all .3s;
    display: flex;
    flex-direction: column;
    gap: 20px;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		opacity: 0;
		backdrop-filter: blur(0px);
		z-index: 1;
		pointer-events: none;
		transition: all .4s;
	}

	&.is-sending:before {
		opacity: 1;
		backdrop-filter: blur(2px);
		pointer-events: unset;
	}
}

h1 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
}

.group {
  position: relative;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

label {
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	line-height: 1.5;
    font-weight: 500;
	display: inline-block;
	margin-bottom: 8px;
	cursor: pointer;
	user-select: none;
}

select, textarea {
    font-size: 16px;
	font-weight: 400;
	line-height: 1.38;
	border-radius: 0;
	border: 1px solid rgba(1, 193, 185, 0.1);
	background-color: #F3F9F7;
	outline: none;
	width: 100%;
	height: 40px;

	&:focus {
		border: 1px solid rgba(1, 193, 185, 1);
	}
}

select {
  cursor: pointer;
  padding: 0 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.group[data-select]::after {
    content: "";
    position: absolute;
    z-index: 200;
    width: 16px;
    height: 16px;
    background-image: url("/assets/img/dropdown.png");
    right: 12px;
    bottom: 12px;
    pointer-events: none;
  }

textarea {
    resize: vertical;
    padding: 13px 20px;
    height: 150px;
}

button {
	width: 60%;
	height: 70px;
	font-weight: 500;
	font-size: 22px;

	&[disabled] {
		opacity: 0.4;
		pointer-events: none;
		user-select: none;
	}
}

.wrap-btn {
    margin-top: 50px;
	display: flex;
	justify-content: center;
	width: 100%;
}

mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 2;
}

:host ::ng-deep.mat-mdc-progress-spinner
.mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #00e7a1;
}

@media (max-width: 765px) {
	form {
		height: unset;
	}
}

@media (max-width: 550px) {

	form {
		column-gap: 10px;
	}

	textarea {
		padding: 14px 10px;
	}
}
