.wrap {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 110px;
	overflow-x: hidden;
	transition: all .3s;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		width: 8px;
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		background: #01C1B9;
	}
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

// ::ng-deep .cdk-overlay-pane:has(app-flow-dialog) {
//   app-flow-dialog {
//     display: block;
//     max-width: 600px;
//     max-height: 850px;
//   }
// }

::ng-deep .cdk-overlay-pane:has(app-flow-dialog) {
	transition: all .4s;
}

::ng-deep .cdk-overlay-pane:has(app-flow-dialog):has(app-flow-form) {
  max-width: 600px;
  min-width: 300px;
	max-height: 850px;
  min-height: 650px;
}


// .wrap:has(:not(.active)) {
//   max-height: 850px;
//   min-height: 650px;
// }
