p {
    display: block;
    max-width: 848px;
    width: 100%;
    padding: 80px;
    font-family: Avenir;
    font-size: 28px;
    font-weight: 800;
    line-height: 38.25px;
    text-align: center;
    background: #F4F4F4;
    margin: 0;
}

@media screen and (max-width: 900px) {
    p {
        font-size: 24px;
        line-height: 32px;
        padding: 40px;
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 20px;
        line-height: 27.32px;
    }
}




