<h1>Update user</h1>

<form
	*ngIf="user"
	[formGroup]="form"
	(ngSubmit)="updateUser()"
	[ngClass]="{'loading': isLoading}">

	<div class="d-flex">
		<div class="wrap-column">
			<div class="d-flex">
                <app-edit-user-card
                    title="Full name"
                    formControlName="firstName">
                </app-edit-user-card>

                <!-- Removed -->
                <app-edit-user-card
                    title="Last Name"
                    formControlName="lastName">
                </app-edit-user-card>
			</div>

            <app-edit-user-card
                title="Email"
                formControlName="email">
            </app-edit-user-card>

            <app-edit-user-card
                title="Phone"
                formControlName="phone">
            </app-edit-user-card>
		</div>

        <!-- ! Separate in another component -->
		<div class="card not-required">
			<div class="title">Avatar</div>
			<div class="content">
				<mat-chip-listbox aria-label="Upload image" >
					<mat-chip-option
						(click)="toggleUploadImageType()"
						[selected]="isUploadImageSelected">
						Upload image
					</mat-chip-option>
					<mat-chip-option
						(click)="toggleUploadImageType()"
						[selected]="!isUploadImageSelected">
						Image by url
					</mat-chip-option>
				</mat-chip-listbox>
				<div class="uploadOuter" *ngIf="isUploadImageSelected">
					<label for="uploadFile">
						Upload Image
					</label>
					<strong>OR</strong>
					<span class="dragBox" [ngClass]="{'draging': isDrag}">
						Drag and Drop image here
						<input
							type="file"
							(change)="dragNdrop($event)"
							(dragover)="drag()"
							(drop)="drop()"
							accept="image/png, image/gif, image/jpeg" id="uploadFile" />
					</span>
				</div>
				<div class="upload-by-url" *ngIf="!isUploadImageSelected">
					<input
						type="text"
						formControlName="picture"
						placeholder="https://picsum.photos/200/300.jpg">
					<button
						type="button"
						[disabled]="picture.invalid || !isValidUrl"
						mat-stroked-button
						(click)="handleUrlImage()">
						Preview Avatar
						<span class="material-symbols-outlined">
							preview
						</span>
					</button>
				</div>
				<div id="preview" #preview>
					<img *ngIf="user.avatar" [src]="user.avatar" [alt]="user.lastName">
				</div>
				<div class="error-message" *ngIf="!preview.innerHTML.includes('img')">
					Avatar wasn't uploaded
				</div>
			</div>

		</div>
	</div>

	<div class="d-flex">
        <app-edit-user-card-select
            title="Role"
            formControlName="role"
            [iterableListToConvert]="['ADMIN', 'USER']">
        </app-edit-user-card-select>

        <app-edit-user-card-select
            *ngIf="role.value !== userStatus.ADMIN"
            title="Type"
            formControlName="type"
            [iterableListToConvert]="userTypeEnum">
        </app-edit-user-card-select>
	</div>

	<ng-container
        *ngIf="role.value !== userStatus.ADMIN && type.value !== userTypeEnum.None">

        <div class="d-flex">

            @if(type.value === userTypeEnum.Industry || type.value === userTypeEnum.Physician) {
                <app-edit-user-card 
                    title="Organization"
                    formControlName="companyName"
                    [isRequired]="false">
                </app-edit-user-card>
            }         

            <app-edit-user-card
                [title]="(type.value === userTypeEnum.None ? 'User' : type.value) + ' location'"
                formControlName="location"
                [isRequired]="false">
            </app-edit-user-card>

        </div>

      
    
        @if(type.value === userTypeEnum.Industry || type.value === userTypeEnum.Physician) {
            <div class="d-flex">

                <app-edit-user-card-select
                    title="Subgroup" 
                    formControlName="companyType"
                    [isRequired]="false"
                    [iterableListToConvert]="companyTypeEnum">
                </app-edit-user-card-select> 

                <app-edit-user-card-select
                    title="Function" 
                    formControlName="function"
                    [isRequired]="false"
                    [iterableListToConvert]="functionEnum">
                </app-edit-user-card-select> 

            </div>
        } 
        

        <div class="d-flex">

            @if(type.value === userTypeEnum.Patient) {
                <app-edit-user-card-select
                   title="Position/Role"
                   formControlName="isMySelf"
                   [isRequired]="false"
                   [iterableListToConvert]="patientPositionEnum">
                </app-edit-user-card-select>
            } @else {
                <app-edit-user-card
                    title="Position"
                    formControlName="position">
                </app-edit-user-card>
            }
        </div>

        <ng-container *ngIf="type.value === userTypeEnum.Patient">
            <div class="d-flex">
                <app-edit-user-card-select
                    title="Patient situation"
                    formControlName="patientSituationType"
                    [isRequired]="false"
                    [iterableListToConvert]="patientSituationTypeEnum">
                </app-edit-user-card-select>

                <app-edit-user-card-select
                    title="Disease category"
                    formControlName="diseaseCategory"
                    [isRequired]="false"
                    [iterableListToConvert]="diseaseCatogories">
                </app-edit-user-card-select>
            </div>

            <div class="d-flex">
                <app-edit-user-card-select
                    title="Cancer Type"
                    formControlName="cancerType"
                    [isRequired]="false"
                    [iterableListToConvert]="cancerTypeEnum">
                </app-edit-user-card-select>

                <app-edit-user-card
                    title="Disease details"
                    formControlName="diseaseDetails"
                    [isRequired]="false"
                    [isTextArea]="true">
                </app-edit-user-card>
            </div>

        </ng-container>

        
	</ng-container>

    <!-- * Delete / Save flow * -->
	<div class="flex-end">
		<button
			(mousedown)="startDeleteTimeout(user.id!)"
			(mouseup)="clearDeleteTimeout()"
			(mouseout)="clearDeleteTimeout()"
			[ngClass]="{'deleting': isDeleting && activeDeletingIndex === user.id!}"
			mat-fab color="warn"
			type="button"
			matTooltip="Press to delete"
			matTooltipShowDelay="300">
			<span class="material-symbols-outlined">
				delete
			</span>
		</button>
		<button
			[disabled]="form.invalid || isLoading"
			type="submit"
			class="effect effect-1"
			matTooltip="Update user"
			matTooltipShowDelay="300">
			Save
		</button>
	</div>
    <!-- * END Delete / Save flow * -->

	<mat-spinner *ngIf="isLoading"></mat-spinner>
</form>
