@if (data) {
    <div class="content">
        <h1>{{ data.header }}</h1>
        <span>{{ data.subheader }}</span>
        <ol class="wrap-options">
            <li
                *ngFor="let option of data.options; let i=index"
                [class.active]="selectOptions[i]"
                (click)="toggleCheck(i, option.label)">
                <div class="left">
                    <img [src]="'assets/svg/'+option.icon" alt="Icon">
                </div>
                <div class="right">
                    <h4>{{ option.label }}</h4>
                    <div class="sub-title" *ngIf="option?.description">
                        {{ option.description}}
                    </div>
                </div>
            </li>
        </ol>
            <!-- <div class="wrap-btn">
            <button
            [disabled]="!checkedItem"
            type="button"
            (click)="onNextStepButton()"
            class="btn-green">
            Next
            </button>
        </div> -->
    </div>
} @else {
    <b [style.color]="'red'">Wrong current flow data!</b>
}