.wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100dvh;

    background-image: url('/assets/img/blog-banner.webp');
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    transition: all .3s;

    div {
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        opacity: .9;
        margin-bottom: 50px;
    }
}

h1 {
    font-size: 48px;
    max-width: 600px;
    width: 100%;
    font-weight: 800;
    margin-bottom: 16px;
    line-height: 58px;
    color: #152032;

    span {
        color: #01C1B9;
    }
}

.btn-green {
    width: 240px;
    height: 60px;
    font-weight: 500;
}

// /* Typewriter effect 1 */
// @keyframes typing {

// 	0.0000%, 27.3488% { content: ""; }
// 	1.1395%, 26.2093% { content: "t"; }
// 	2.2791%, 25.0698% { content: "to"; }
// 	3.4186%, 23.9302% { content: "tod"; }
// 	4.5581%, 22.7907% { content: "toda"; }
// 	5.6977%, 21.6512% { content: "today"; }

// 	30.7674%, 51.2791% { content: ""; }
// 	31.9070%, 50.1395% { content: "t"; }
// 	33.0465%, 49.0000% { content: "to"; }
// 	34.1860%, 47.8605% { content: "tod"; }
// 	35.3256%, 46.7209% { content: "toda"; }
// 	36.4651%, 45.5814% { content: "today"; }

// 	54.6977%, 75.2093% { content: ""; }
// 	55.8372%, 74.0698% { content: "t"; }
// 	56.9767%, 72.9302% { content: "to"; }
// 	58.1163%, 71.7907% { content: "tod"; }
// 	59.2558%, 70.6512% { content: "toda"; }
// 	60.3953%, 69.5116% { content: "today"; }

// 	78.6279%, 96.8605% { content: ""; }
// 	79.7674%, 95.7209% { content: "t"; }
// 	80.9070%, 94.5814% { content: "to"; }
// 	82.0465%, 93.4419% { content: "tod"; }
// 	83.1860%, 92.3023% { content: "toda"; }
// 	84.3256%, 91.1628% { content: "today"; }
// }

// @keyframes blink {
// 	0%, 100% { opacity: 1; }
// 	50% { opacity: 0; }
// }

// .typewriter {
// 	--caret: currentcolor;
// }

// .typewriter::before {
// 	content: "";
// 	animation: typing 12s infinite;
// }

// .typewriter::after {
// 	content: "";
// 	border-right: 1px solid var(--caret);
// 	animation: blink 0.5s linear infinite;
// }


// @media (prefers-reduced-motion) {
// 	.typewriter::after {
// 		animation: none;
// 	}

// 	@keyframes sequencePopup {
// 		0%, 100% { content: "today"; }

// 	}
// 	.typewriter::before {
// 		content: "today";
// 		animation: sequencePopup 12s linear infinite;
// 	}
// }

/* Media Queries
====================*/

.about-us {
    background-position: right;
}

@media (max-width: 1700px) {
    .content {
        max-width: 1300px;
    }

}

@media (max-width: 1500px) {
    .content {
        max-width: 1200px;
    }

    .about-us {
        background-position: 80%;
    }

    .ecosystem {
        background-position: 60%;
    }

}

@media (max-width: 1250px) {
    .content {
        padding: 0 15px;
    }

    .physicians {
        background-position: 45%;
    }
}

@media (max-width: 770px) {
    // .wrap {
    //     height: 600px;
    // }

    .about-us {
        background-position: 90%;
    }



    h1 {
        font-size: 32px;
        line-height: auto;
        margin-bottom: 25px;
    }

    .btn-green {
        width: 220px;
        height: 45px;
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .content {
        text-align: center;
        align-items: center;
    }

    h1 {
        font-size: 32px;
        line-height: 22px;
    }

    .content div {
        font-size: 19px;
        line-height: 24px;
    }



}