<div class="content">
    <h1>Get Started</h1>
    <span>
        Tell us who you are so we can match you with the right treatment or opportunity
    </span>

    <ol class="wrap-options">
        <li (click)="nextStep('patients')">
            <div class="left">
                <img src="assets/img/flow-init/patient.svg" alt="patient">
            </div>
            <div class="right">
                <h4>Patient/Caregiver</h4>
                <div class="sub-title">
                    Get Matched to Clinical Trials & Investigational Therapies
                </div>
            </div>
        </li>

        <li (click)="nextStep('drug-developers')">
            <div class="left">
                <img src="assets/img/flow-init/drug.svg" alt="drug">
            </div>
            <div class="right">
                <h4>Drug Developers</h4>
                <div class="sub-title">Enroll Your Therapy & Connect with Eligible Patients</div>
            </div>
        </li>

        <li (click)="nextStep('physicians')">
            <div class="left">
                <img src="assets/img/flow-init/stethoscope.svg" alt="stethoscope">
            </div>
            <div class="right">
                <h4>Physicians</h4>
                <div class="sub-title">Join Our Network to Help Patients Access Treatments</div>
            </div>
        </li>


        <!-- <li (click)="nextStep('ecosystem')">
            <div class="left">
                <img src="assets/img/flow-init/hand-heart.svg" alt="hand-heart">
            </div>
            <div class="right">
                <h4>The Ecosystem</h4>
                <div class="sub-title">
                    Everyone else helping bring care, hope and support to patients needing novel
                    therapies
                </div>
            </div>
        </li> -->
    </ol>
</div>