
<div class="content">

  <h1>Get Started</h1>
  <span>
    Tell us who you are
  </span>

  <ol class="wrap-options">
    <!-- (click)="nextStep('Patient')" -->
    <li (click)="nextStep('patients')">
      <div class="left">
        <img src="assets/img/heart.png" alt="heart">
      </div>
      <div class="right">
        <h4>Patient/Caregiver</h4>
        <div class="sub-title">Looking for novel therapies</div>
      </div>
    </li>
    <!-- (click)="nextStep('Industry')" -->
    <li (click)="nextStep('drug-developers')">
      <div class="left">
        <img src="assets/img/telescope.png" alt="telescope">
      </div>
      <div class="right">
        <h4>Drug Developers</h4>
        <div class="sub-title">Working on novel therapies</div>
      </div>
    </li>
    <!-- (click)="nextStep('Physician') -->
    <li (click)="nextStep('ecosystem')">
      <div class="left">
        <img src="assets/img/ecosystem-icon.png" alt="ecosystem">
      </div>
      <div class="right">
        <h4>The Ecosystem</h4>
        <div class="sub-title">
          Everyone else helping bring care, hope and support to patients needing novel therapies
          <ul>
            <li>Health care providers/Facilities</li>
            <li>Venture funding/Impact investors</li>
            <li>Licensing/Tech transfer offices</li>
            <li>Philanthropy, Donors</li>
            <li>Social workers, Advocacy groups, Chaplains Spiritual Care</li>
          </ul>
        </div>
      </div>
    </li>
  </ol>
</div>



