.wrap {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 100px;
	padding: 0 15px;
}

form {
	max-width: 850px;
	width: 100%;
	height: 690px;
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	padding: 80px 110px;
	position: relative;
	transition: all .3s;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		opacity: 0;
		backdrop-filter: blur(0px);
		z-index: 1;
		pointer-events: none;
		transition: all .4s;
	}

	&.is-sending:before {
		opacity: 1;
		backdrop-filter: blur(2px);
		pointer-events: unset;
	}
}

.wrap-inputs {
	display: flex;
	justify-content: space-between;
	column-gap: 25px;
}

.right-side, .left-side {
	width:100%
}

h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 20px;
}

.wrap-checkboxes {
	display: flex;
	user-select: none;
	margin-bottom: 20px;

	.checkbox {
		display: flex;
		align-items: center;
		margin-right: 12px;
		height: 40px;
		padding: 0 20px;
		background: #F3F9F7;
		border: 1px solid rgba(1, 193, 185, 0.2);
		color: #000816;
		opacity: 0.6;
		cursor: pointer;

		&.active {
			background: rgba(1, 193, 185, 0.1);
			border: 1px solid #01C1B9;
			opacity: 1;
			cursor: unset;
		}
	}
}

.group {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	position: relative;
	width: 100%;
}

label {
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	line-height: 1.5;
	display: inline-block;
	margin-bottom: 3px;
	cursor: pointer;
	user-select: none;
}

input {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.38;
	border-radius: 0;
	border: 1px solid rgba(1, 193, 185, 0.1);
	background-color: #F3F9F7;
	outline: none;
	padding: 14px 13px;
	width: 100%;
	height: 40px;

	padding-right: 40px;

	&[type=password] {
		font-size: 26px;
		&::placeholder {
			font-size: 12px;
			position: absolute;
			top: 0px;		
		}
	}

	&#password {
		&::placeholder {
			font-size: 12px;
			position: absolute;
			top: 0px;		
		}
	}


	&:focus {
		border: 1px solid rgba(1, 193, 185, 1);
	}
	
}

input[type=checkbox] {
	border: 1px solid #8c8f94;
	border-radius: 4px;
	background: #fff;
	color: #50575e;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 1rem;
	margin: -0.25rem 0.25rem 0 0;
	outline: 0;
	padding: 0!important;
	text-align: center;
	vertical-align: middle;
	width: 1rem;
	min-width: 1rem;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	transition: .05s border-color ease-in-out;
	margin-right: 7px;

	&:focus {
		border: 1px solid rgba(1, 193, 185, 1);
		box-shadow: none;
	}
}

input[type=checkbox]:checked::before {
	content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
	margin: -3px -4px;
	height: 1.3125rem;
	width: 1.3125rem;
	float: left;
	display: inline-block;
	vertical-align: middle;
}

.group-checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 55px;
}

.hide {
	position: absolute;
	right: 12px;
	opacity: 0.6;
    bottom: 2px;
	cursor: pointer;
}

button {
	width: 280px;
	height: 70px;
	font-weight: 500;
	font-size: 22px;

	&[disabled] {
		opacity: 0.4;
		pointer-events: none;
		user-select: none;

		&:hover {
			
		}
	}
}

.wrap-btn {
	display: flex;
	justify-content: center;
	width: 100%;
}

input.ng-dirty.ng-invalid {
	border: 1px solid red;
	color: red;
}

mat-spinner {
	position: absolute;
	top: calc(50% - 80px);
    left: calc(50% - 50px);
	z-index: 2;
}

.error-message {
	position: absolute;
	transform: translateY(-26px);
	color: red;
	opacity: 0.9;
	font-size: 13px;
}

:host ::ng-deep.mat-mdc-progress-spinner 
.mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #00e7a1;
}

@media (max-width: 765px) {
	form {
		padding: 60px;
		height: unset;
	}
}

@media (max-width: 550px) {
	form {
		padding: 40px 25px;
	}

	.wrap-inputs {
		column-gap: 10px;
	}

	.group-checkbox label {
		font-size: 12px;
	}

	input {
		padding: 14px 14px 14px 13px;
	}
}

@media (max-width: 400px) {
	.wrap {
		padding: 0 7px;
	}

	form {
		padding: 35px 15px;
	}
}