<div class="wrap">

	<!-- * Patient Signup -->
	<form
		[ngClass]="{'is-sending': isSending}"
		*ngIf="statusForm === 'patients'"
		(ngSubmit)="onSubmitButton('Patient')">
		<div class="error-message" *ngIf="errorMessage">
			{{ errorMessage }}
		</div>
		<h2>Patient Signup</h2>
		<label>I'm signing up for</label>
		<div class="wrap-checkboxes">
			<div
				(click)="chooseSigningUpFor(true)"
				class="checkbox"
				[ngClass]="{'active': isMySelf}">
				Myself
			</div>
			<div
				(click)="chooseSigningUpFor(false)"
				class="checkbox"
				[ngClass]="{'active': !isMySelf}">
				Someone else
			</div>
		</div>

		<!-- <div class="wrap-inputs"> -->
			<div class="left-side">
				<div class="group">
					<label for="firstName">Patient name</label>
					<input
						autocomplete="given-name"
						tabindex="1"
						type="text" required
						placeholder="First"
						id="firstName" name="firstName"
						[(ngModel)]="firstName">
				</div>
				<div class="group">
					<label for="lastName">Patient Name</label>
					<input
						autocomplete="family-name"
						tabindex="2"
						type="text" required
						placeholder="Last"
						id="lastName" name="family-name"
						[(ngModel)]="lastName">
				</div>
				<div class="group">
					<label for="phone">Phone</label>
					<input
						autocomplete="phone"
						tabindex="3"
						type="tel" required
						placeholder="+1 212 001 002"
						id="phone" name="phone"
						[(ngModel)]="phone">
				</div>
				<div class="group">
					<label for="email">Email</label>
					<input
						autocomplete="on"
						tabindex="4"
						type="text" required
						placeholder="name@email.com"
						id="email" name="email"
						[(ngModel)]="email">
				</div>
				<div class="group">
					<label for="location">Location</label>
					<input
						autocomplete="address-line1"
						tabindex="5"
						type="text" required
						placeholder="Miami, FL"
						id="location" name="location"
						[(ngModel)]="location">
				</div>
			<!-- </div>  -->
			<!-- <div class="right-side"> -->


				<div class="group">
					<label for="password">Password</label>
					<input
						autocomplete="off"
						tabindex="6"
						required
						[type]="isShowPassword ? 'text' : 'password'"
						id="password" name="password"
						placeholder="*min 8 characters"
						minlength="8"
						[(ngModel)]="password">

					<div class="hide">
						<span
							(click)="toggleShowingPassword()"
							class="material-symbols-outlined"
							*ngIf="isShowPassword">
							visibility
						</span>
						<span
							(click)="toggleShowingPassword()"
							class="material-symbols-outlined"
							*ngIf="!isShowPassword">
							visibility_off
						</span>
					</div>
				</div>
			<!-- </div> -->
		</div>

		<div class="group-checkbox">
			<input
				tabindex="7"
				type="checkbox"
				name="remember"
				id="remember"
				[(ngModel)]="isAgreeTerms">
			<label for="remember">I understand the terms and privacy policy</label>
		</div>

		<div class="wrap-btn">
			<button
				type="submit"
				class="btn-green"
				[disabled]="!isAgreeTerms" >
				Submit
			</button>
		</div>

		<mat-spinner *ngIf="isSending"></mat-spinner>
	</form>
	<!-- * END Patient Signup -->

	<!-- * Physician Signup -->
	<form
		autocomplete="on"
		[ngClass]="{'is-sending': isSending}"
		*ngIf="statusForm === 'ecosystem'"
		(ngSubmit)="onSubmitButton('Physician')">
		<div class="error-message" *ngIf="errorMessage">
			{{ errorMessage }}
		</div>

		<h2>Physician Signup</h2>

		<div class="wrap-inputs">
			<!-- <div class="left-side"> -->
				<div class="group">
					<label for="firstName">Name</label>
					<input
						autocomplete="given-name"
						tabindex="1"
						type="text" required
						placeholder="First"
						id="firstName" name="firstName"
						[(ngModel)]="firstName">
				</div>
				<div class="group">
					<label for="lastName">Last name</label>
					<input
						autocomplete="family-name"
						tabindex="2"
						type="text" required
						placeholder="Last"
						id="lastName" name="lastName"
						[(ngModel)]="lastName">
				</div>
				<div class="group">
					<label for="phone">Phone</label>
					<input
						autocomplete="phone"
						tabindex="3"
						type="tel" required
						placeholder="+1 212 001 002"
						id="phone" name="phone"
						[(ngModel)]="phone">
				</div>
				<div class="group">
					<label for="email">Email</label>
					<input
						tabindex="4"
						type="email" required
						placeholder="name@email.com"
						id="email" name="email"
						[(ngModel)]="email">
				</div>
				<div class="group">
					<label for="hospital">Hospital name</label>
					<input
						autocomplete="organization"
						tabindex="5"
						type="text" required
						placeholder="Hospital/clinic name"
						id="hospital" name="hospital"
						[(ngModel)]="hospital">
				</div>
				<div class="group">
					<label for="location">Location</label>
					<input
						autocomplete="address-line1"
						tabindex="6"
						type="text" required
						placeholder="Miami, FL"
						id="location" name="location"
						[(ngModel)]="location">
				</div>
				<div class="group">
					<label for="password">Password</label>
					<input
						tabindex="7"
						required
						[type]="isShowPassword ? 'text' : 'password'"
						id="password" name="password"
						minlength="8"
						[(ngModel)]="password">

					<div class="hide">
						<span
							(click)="toggleShowingPassword()"
							class="material-symbols-outlined"
							*ngIf="isShowPassword">
							visibility
						</span>
						<span
							(click)="toggleShowingPassword()"
							class="material-symbols-outlined"
							*ngIf="!isShowPassword">
							visibility_off
						</span>
					</div>
				</div>
			<!-- </div>  -->
			<!-- <div class="right-side"> -->


			<!-- </div> -->
		</div>

		<div class="group-checkbox">
			<input
				type="checkbox"
				name="remember"
				id="remember"
				required
				[(ngModel)]="isAgreeTerms">
			<label for="remember">I understand the terms and privacy policy</label>
		</div>

		<div class="wrap-btn">
			<button
				class="btn-green"
				[disabled]="!isAgreeTerms">
				Submit
			</button>
		</div>

		<mat-spinner *ngIf="isSending"></mat-spinner>
	</form>
	<!-- * END Physician Signup -->

	<!-- * Industry Signup -->
	<form
		[ngClass]="{'is-sending': isSending}"
		*ngIf="statusForm === 'drug-developers'"
		(ngSubmit)="onSubmitButton('Industry')">
		<div class="error-message" *ngIf="errorMessage">
			{{ errorMessage }}
		</div>

		<h2>Industry and Research Groups</h2>

		<div class="wrap-inputs">
			<!-- <div class="left-side"> -->
				<div class="group">
					<label for="firstName">Name</label>
					<input
						autocomplete="given-name"
						tabindex="1"
						type="text" required
						placeholder="First"
						id="firstName" name="firstName"
						[(ngModel)]="firstName">
				</div>
				<div class="group">
					<label for="lastName">Last name</label>
					<input
						autocomplete="family-name"
						tabindex="2"
						type="text" required
						placeholder="Last"
						id="lastName" name="lastName"
						[(ngModel)]="lastName">
				</div>
				<div class="group">
					<label for="phone">Phone</label>
					<input
						autocomplete="phone"
						tabindex="3"
						type="tel" required
						placeholder="+1 212 001 002"
						id="phone" name="phone"
						[(ngModel)]="phone">
				</div>
				<div class="group">
					<label for="email">Email</label>
					<input
						tabindex="4"
						type="email" required
						placeholder="name@email.com"
						id="email" name="email"
						[(ngModel)]="email">
				</div>
				<div class="group">
					<label for="company">Company name</label>
					<input
						autocomplete="organization"
						tabindex="5"
						type="text" required
						placeholder="Company/institute name"
						id="company" name="company"
						[(ngModel)]="company">
				</div>
				<div class="group">
					<label for="location">Location</label>
					<input
						autocomplete="address-line1"
						tabindex="6"
						type="text" required
						placeholder="Miami, FL"
						id="location" name="location"
						[(ngModel)]="location">
				</div>
				<div class="group">
					<label for="password">Password</label>
					<input
						tabindex="7"
						required
						[type]="isShowPassword ? 'text' : 'password'"
						id="password" name="password"
						placeholder="*min 8 characters"
						minlength="8"
						[(ngModel)]="password">

					<div class="hide">
						<span
							(click)="toggleShowingPassword()"
							class="material-symbols-outlined"
							*ngIf="isShowPassword">
							visibility
						</span>
						<span
							(click)="toggleShowingPassword()"
							class="material-symbols-outlined"
							*ngIf="!isShowPassword">
							visibility_off
						</span>
					</div>
				</div>
			<!-- </div>  -->
			<!-- <div class="right-side"> -->



			<!-- </div> -->
		</div>

		<div class="group-checkbox">
			<input type="checkbox" name="remember" id="remember" [(ngModel)]="isAgreeTerms">
			<label for="remember">I understand the terms and privacy policy</label>
		</div>

		<div class="wrap-btn">
			<button
				class="btn-green"
				[disabled]="!isAgreeTerms">
				Submit
			</button>
		</div>

		<mat-spinner *ngIf="isSending"></mat-spinner>
	</form>
	<!-- * END Industry Signup -->


</div>
