.wrap {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 100px;
	padding: 0 15px;
}

.flow-wrap {
  position: relative;
  width: 850px;
  min-width: 300px;
  padding: 80px 110px;
  border-radius: 20px;
  min-height: 100px;

  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    transition: min-height .3s ease;
}

.flow-wrap_loading {
    min-height: 500px;
}


mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 2;
}

:host ::ng-deep.mat-mdc-progress-spinner
.mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #00e7a1;
}

app-flow ::ng-deep .wrap-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

app-flow ::ng-deep .group {
    flex: 0 0 calc(50% - 10px);
}

app-flow ::ng-deep .wrap-inputs:has(.group[data-company]) .group[data-company] {
    flex: 0 0 100%;
}



@media screen and (max-width: 800px) {
  .flow-wrap {
    padding: 50px 30px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 650px) {
    app-flow ::ng-deep .wrap-inputs {
        flex-direction: column;
    }

    app-flow ::ng-deep .group {
        flex: 1;
    }

    app-flow ::ng-deep .wrap-inputs:has(.group[data-company]) .group[data-company] {
        flex: 1;
    }
}
