<div class="wrap">
    <h1 [innerHTML]="formTitle"></h1>
    @if (flow === 'patients') {
        <div class="description">
            Explore new treatment possibilities and get the support you need.
        </div>
    }
    @if (flow === 'drug-developers' || flow === 'physicians') {
        <div class="description">
            Become a part of our mission to deliver groundbreaking treatments.
        </div>        
    }
    <!-- @if (flow === 'ecosystem') {
        <div class="description">
            <b>
                The battle against life-threatening diseases is not one we can win alone. It takes all of us—working together, fighting
                together, and believing together. <br />
                Are you ready to make a difference?
            </b>
        </div>
    } -->

    <div 
        class="flow-wrap"
        [class.flow-wrap_loading]="isLoading">
        <app-flow
            *ngIf="isFlowComponent"
            [@fadeInOut]
            [step]="2"
            [flow]="flow"
            [isSkipFirstStep]="true">
        </app-flow>
        
        <mat-spinner
            *ngIf="isLoading"
            [@fadeInOut]>
        </mat-spinner>
    </div>
</div>
