<h1>Update post</h1>

<form 
	*ngIf="post"
	[formGroup]="form" 
	(ngSubmit)="uploadPost()" 
	[ngClass]="{'loading': isLoading}">
	<div class="d-flex">
		<div class="card">
			<div class="title">Header</div>
			<div class="content">
				<input type="text" formControlName="header">
			</div>
		</div>

		<div class="card">
			<div class="title">Subheader</div>
			<div class="content">
				<input type="text" formControlName="subHeader">
			</div>
		</div>

		@if (ProjectTypeEnum.Wondrvoices === projectService.current) {
			<div class="card" style="margin-left: 20px">
				<div class="title">Tag</div>
				<div class="content">
					<input type="text" formControlName="tag">
					<span *ngIf="tag.value">Post will be displayed in wondrvoices</span>
				</div>
			</div>
		}
	</div>

	<div class="card">
		<div class="title">Starts at</div>

		<div class="content">
			<mat-label>Choose a date</mat-label>
			<input
				[matDatepicker]="picker"
				formControlName="createdAt"
				matInput
				readonly
				(click)="picker.open()">
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</div>
	</div>
	

	<!-- TODO: do normal checkbox + no way to open like blogs/[id] (backend implementation)-->
	<div class="card">
		<div class="title">Visibility</div>
	
		<div class="content">
			<mat-label>Hidden</mat-label>
			<input type="checkbox" formControlName="hidden">
		</div>
	</div>

	<div class="card">
		<div class="title">Main picture</div>
		<div class="content">
			<mat-chip-listbox aria-label="Upload image" >
				<mat-chip-option 
					(click)="toggleUploadImageType()"
					[selected]="isUploadImageSelected">
					Upload image
				</mat-chip-option>
				<mat-chip-option 
					(click)="toggleUploadImageType()"
					[selected]="!isUploadImageSelected">
					Image by url
				</mat-chip-option>
			</mat-chip-listbox>
			<div class="uploadOuter" *ngIf="isUploadImageSelected">
				<label for="uploadFile">
					Upload Image
				</label>
				<strong>OR</strong>
				<span class="dragBox" [ngClass]="{'draging': isDrag}">
					Drag and Drop image here
					<input 
						formControlName="picture"
						type="file" 
						(change)="dragNdrop($event)" 
						(dragover)="drag()" 
						(drop)="drop()"
						accept="image/png, image/gif, image/jpeg" id="uploadFile" />
				</span>
			</div>
			<div class="upload-by-url" *ngIf="!isUploadImageSelected">
				<input 
					type="text" 
					formControlName="picture"
					placeholder="https://picsum.photos/200/300.jpg">
				<button 
					type="button"
					[disabled]="picture.invalid"
					mat-stroked-button 
					(click)="handleUrlImage()">
					Preview Image
					<span class="material-symbols-outlined">
						preview
					</span>
				</button>
			</div>
			<div id="preview" #preview>
				<img
                    [alt]="post.header"
                    [src]="post.mainPicture">
			</div>
		</div>
		
	</div>

	<div class="card">
		<div class="title">Content</div>
		<div class="content">
			<app-editor formControlName="content" />
		</div>
	</div>

	<div class="card links">
		<div class="title">Social links</div>
		<div class="content">
			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Instagram
						</mat-panel-title>
						<mat-panel-description>
							<span class="material-symbols-outlined">
								<ng-template [ngIf]="inst.value">
									link
								</ng-template>
								<ng-template [ngIf]="!inst.value">
									link_off
								</ng-template>
							</span>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<input type="text" placeholder="https://www.instagram.com/username/" #inst>
				</mat-expansion-panel>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Twitter
						</mat-panel-title>
						<mat-panel-description>
							<span class="material-symbols-outlined">
								<ng-template [ngIf]="twitter.value">
									link
								</ng-template>
								<ng-template [ngIf]="!twitter.value">
									link_off
								</ng-template>
							</span>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<input type="text" placeholder="https://www.twitter.com/username/" #twitter>
				</mat-expansion-panel>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							LinkedIn
						</mat-panel-title>
						<mat-panel-description>
							<span class="material-symbols-outlined">
								<ng-template [ngIf]="lnkid.value">
									link
								</ng-template>
								<ng-template [ngIf]="!lnkid.value">
									link_off
								</ng-template>
							</span>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<input type="text" placeholder="https://www.linkedin.com/username/" #lnkid>
				</mat-expansion-panel>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Facebook
						</mat-panel-title>
						<mat-panel-description>
							<span class="material-symbols-outlined">
								<ng-template [ngIf]="fb.value">
									link
								</ng-template>
								<ng-template [ngIf]="!fb.value">
									link_off
								</ng-template>
							</span>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<input type="text" placeholder="https://www.facebook.com/username/" #fb>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>


	<div class="flex-end">
		<button 
			(mousedown)="startDeleteTimeout(post.id!)"
			(mouseup)="clearDeleteTimeout()"
			(mouseout)="clearDeleteTimeout()"
			[ngClass]="{'deleting': isDeleting && activeDeletingIndex === post.id!}"
			mat-fab color="warn"
			type="button"
			matTooltip="Press to delete"
			matTooltipShowDelay="300">
			<span class="material-symbols-outlined">
				delete
			</span>
		</button>
		<button 
			[disabled]="form.invalid || isLoading"
			type="submit" 
			class="effect effect-1" 
			matTooltip="Update post"
			matTooltipShowDelay="300">
			Save
		</button>
	</div>

	<mat-spinner *ngIf="isLoading"></mat-spinner>
</form>

<h2 *ngIf="errorMessage">{{ errorMessage }}</h2>