h1 {
	font-weight: 600;
	margin-bottom: 25px;
}

h2 {
	text-align: center;
	margin-top: 120px;
    font-size: 30px;
}

.card {
	border: 1px solid #e6ecf5;
	margin-bottom: 1em;
	font-weight: 300;
	background: white;
	border-radius: 5px;
	width: 100%;
}

.card .title {
	padding: 15px 20px;
	border-bottom: 1px solid #e6ecf5;
	color: #000;
	font-size: 18px;
	font-weight: 500;
}

.content {
	padding: 15px 20px
}

.d-flex {
	display: flex;
	justify-content: space-between;

	>div:first-child {
		margin-right: 20px;
	}
}

input {
	outline: none;
	border: 1px solid;
	border-color: #d8e0e5;
	border-radius: 2px;
	box-shadow: none;
	font-weight: 300;
	height: 38px;
	width: 100%;
	padding: 0 15px;

	&:focus {
		border-color: #80bdff;
	}
}

.uploadOuter {
	text-align: center;
	padding: 20px;

	strong {
		padding: 0 10px
	}
}

.dragBox {
	width: 250px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-weight: bold;
	line-height: 95px;
	color: #999;
	border: 2px dashed #ccc;
	display: inline-block;
	transition: transform 0.3s;

	input[type="file"] {
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		top: 0;
		left: 0;
	}
}

.draging {
	transform: scale(1.1);
}

#preview {
	text-align: center;

	::ng-deep img {
		max-width: 100%
	}
}

.upload-by-url {
	input {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	button {
		border: 1px solid #ccc;
		margin-bottom: 20px;

		::ng-deep .mdc-button__label {
			display: flex;
			align-items: center;

			span {
				margin-left: 10px;
			}
		}
	}
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin-top: 15px;
}

button {
	border: none;
	outline: none;

	&:disabled {
		opacity: 0.3;
		pointer-events: none;
	}
}

.effect {
	text-align: center;
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	background: #102c58;
	cursor: pointer;

	/* background-color: - add your own background-color */
	font: {
		family: 'Roboto', sans-serif;
		/* put your font-family */
		size: 18px;
	}

	padding: 20px 0px;
	width: 250px;
	border-radius: 10px;
	overflow: hidden;
}

.effect.effect-1 {
	transition: all 0.2s linear 0s;

	&:before {
		content: '🖫';
		font-size: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0px;
		height: 100%;
		width: 65px;
		background-color: rgba(#fff, 0.3);
		border-radius: 0 50% 50% 0;
		transform: scale(0, 1);
		transform-origin: left center;
		transition: all 0.2s linear 0s;
	}

	&:hover {
		text-indent: 30px;

		&:before {
			transform: scale(1, 1);
			text-indent: 0;
		}
	}
}

label[for="uploadFile"] {
	background-color: #102C58;
	border-radius: 10px;
	padding: 10px 20px;
	color: white;
	cursor: pointer;
	font-weight: 500;
}


.card ::ng-deep.ql-toolbar {
	position: sticky;
    top: 0px;
    width: 100%;
    background: white;
    z-index: 1;
}

.card ::ng-deep {

	.mat-expansion-panel-spacing {
		margin: unset;
		margin-bottom: 5px;
	}

	mat-expansion-panel {
		border: 1px solid #eeeeee;
		box-shadow: none;
		margin-bottom: 5px;
	}
}

input.ng-dirty.ng-invalid {
	border: 1px solid rgba(255, 0, 0, 0.63);
}

.card:has(.ng-dirty.ng-invalid) .title {
	color: rgba(255, 0, 0, 0.63);
}

.card .title {
	position: relative;

	&:after {
		content: '*';
		position: absolute;
		font-size: 14px;
	}
}

.links .title {
	&:after {
		content: '';
	}
}

form.loading {
	pointer-events: none;
	position: relative;
	padding-bottom: 50px;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(2px);
		z-index: 9;
	}
}

mat-spinner {
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	z-index: 10;
}

form ::ng-deep.mat-mdc-progress-spinner 
.mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #102c58;
}

.flex-end button:first-child {
	transition: all .3s;
	margin-right: 25px;

	& > ::ng-deep * {
		pointer-events: none;
	}

	box-shadow: 
		0px 3px 5px -1px rgb(0 0 0 / 6%), 
		0px 6px 10px 0px rgb(0 0 0 / 8%), 
		0px 1px 18px 0px rgb(0 0 0 / 9%);

	&:hover {
		box-shadow: 
		0px 3px 5px -1px rgb(0 0 0 / 8%), 
		0px 6px 10px 0px rgb(0 0 0 / 10%), 
		0px 1px 18px 0px rgb(0 0 0 / 15%);
	}

	&.deleting {
		background-color: white;

		&:after {
			content: '';
			position: absolute;
			border-radius: 50%;
			background-color: #F44336;
			animation: delete-anim 1s linear;
		}
	}
	
	::ng-deep {
		.mdc-button__label {
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				color: white;
			}
			
		}
	}
}

.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
    --mdc-chip-elevated-container-color: #102c58;;
    --mdc-chip-elevated-disabled-container-color: #102c58;;
}

::ng-deep.mdc-evolution-chip__checkmark path {
	stroke: white;
}

@keyframes delete-anim {
	from {
		width: 0%;
		height: 0%;
	}

	to {
		width: 100%;
		height: 100%;
	}
}