// _variables

$text-color: #f0f0f0;
$marked-text-color: rgba(0, 195, 244, 0.9);

$bg-first: rgb(14, 14, 14);
$bg-second: rgb(80, 80, 185);
$bg-third: rgb(47, 47, 196);

// $linear-gradient: linear-gradient(180deg, rgb(0, 0, 0) 35%, rgb(0 21 95) 50%, rgb(0 135 199) 90%, rgb(0, 0, 0));
$linear-gradient: linear-gradient(180deg, rgb(0, 0, 0) 35%, rgb(0 20 89) 45%, rgb(0 21 67) 75%, rgb(0, 0, 0));
