.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	top: 0px;
    left: 0px;
    background: white;
	opacity: 0;
	pointer-events: none;
	padding-bottom: 100px;
	transition: all .5s;

	div {
		display: flex;
		align-items: center;
		position: relative;
		height: 50px;
	}

	&.show {
		opacity: 1;
		backdrop-filter: blur(2px);
		pointer-events: unset;
	}

	img {
		animation: rotating 1s linear infinite;
	}

	h1 {
		color: #01C1B9;
		font-size: 40px;
		font-weight: 600;
		margin: 0px;
		margin-left: 15px;
	}

	h2 {
		position: absolute;
		font-size: 13px;
		font-weight: 500;
		bottom: -16px;
		right: 0;
		opacity: 0.9;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}