<router-outlet></router-outlet>
<div class="preloader" [class.show]="loading$ | async">
	<div>
		<svg-icon src="assets/img/logo-preloader.svg" alt="logo"></svg-icon>
	</div>
</div>


<!-- * Preloading flow * -->
@for (img of imgs; track img) {
    <img
        [src]="img"
        hidden
        (load)="loadedImg()" />
}

@for (symbol of materialSymbols; track symbol) {
    <span
        class="material-symbols-outlined"
        hidden>
        {{ symbol }}
    </span>
}
<!-- * END Preloading flow * -->