:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 100px 0;
}

.coming-soon {
    &__icon {
        margin-bottom: 30px;
        transform-origin: top;
        animation: coming-soon-icon-anim 4s infinite ease;
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
    }
}

@keyframes coming-soon-icon-anim {
    from { transform: rotate(-15deg) }
    50% { transform: rotate(15deg) } 
    to { transform: rotate(-15deg) }
}