
  
   .wave {
      opacity: 0;
      animation: arrow 2s infinite;
    }
  /* 
    .wave1 {
      animation-delay: 0s;
    }
  
    .wave2 {
      animation-delay: .3s;
    }
  
    .wave3 {
      animation-duration: .5s;
      animation-delay: .5s;
    } */
  
  .wave1 {
      animation-delay:-1s;
      -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .wave2 {
      animation-delay:-0.5s;
      -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .wave3 {	
      animation-delay:0s;
      -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }
  
 
@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}
