.wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    // height: 840px;
    height: 85vh;
    background-image: url('/assets/img/bg.webp');
    background-size: cover;
    background-position: center;
}

.content {
    max-width: 1500px;
    width: 100%;
    transition: all .3s;
}

h1 {
    font-size: 48px;
    max-width: 600px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 56px;
    line-height: 58px;

    span {
        color: white;
    }
}

.btn-green {
    width: 240px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
}

/* Typewriter effect 1 */
@keyframes typing {

    5.0000% {
        content: "";
    }

    12.1395% {
        content: "t";
    }

    18.2791% {
        content: "to";
    }

    25.4186% {
        content: "tod";
    }

    30.5581% {
        content: "toda";
    }

    35.6977% {
        content: "today";
    }

    100% {
        content: "today";
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typewriter {
    --caret: white;
}

.typewriter::before {
    content: "";
    animation: typing 6s infinite;
}

.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 1s linear infinite;
}


@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }

    @keyframes sequencePopup {

        0%,
        100% {
            content: "today";
        }

    }

    .typewriter::before {
        content: "today";
        animation: sequencePopup 12s linear infinite;
    }
}

/* Media Queries
====================*/

@media (max-width: 1700px) {
    .content {
        max-width: 1300px;
    }

}

@media (max-width: 1500px) {
    .content {
        max-width: 1200px;
    }

}

@media (max-width: 1250px) {
    .content {
        padding: 0 25px;
    }

    .wrap {
        background-position: 80%;
    }
}


@media (max-width: 770px) {

    .content {
        text-align: center;
        padding: 0 0;
    }

    h1 {
        // font-size: 32px;
        // line-height: 36px;
            // margin-bottom: 25px;
        padding: 0 27px;
        max-width: 100%;
        font-size: 42px;
        line-height: 52px;
        text-align: center;
        margin-bottom: 56px;
    }

    .typewriter {
        width: 124.7px;
        display: inline-block;
        white-space: nowrap;
    }

    .newline {
        display: none;
    }

}

@media (max-width: 500px) {

    .btn-green {
        width: calc(100% - 60px);
    }

}