.wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    // height: 840px;
    height: 90vh;
    background-image: url('/assets/img/bg.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

.content {
    max-width: 1500px;
    width: 100%;
    transition: all .3s;
}

h1 {
    font-size: 48px;
    max-width: 600px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 56px;
    line-height: 58px;

    span {
        color: white;
    }
}

.btn-green {
    width: 240px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
}

/* Typewriter effect 1 */
@keyframes typing {

    5.0000% {
        content: "";
    }

    12.1395% {
        content: "t";
    }

    18.2791% {
        content: "to";
    }

    25.4186% {
        content: "tod";
    }

    30.5581% {
        content: "toda";
    }

    35.6977% {
        content: "today";
    }

    100% {
        content: "today";
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typewriter {
    --caret: white;
}

.typewriter::before {
    content: "";
    animation: typing 6s infinite;
}

.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 1s linear infinite;

    position: relative;
    height: 44px;
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
}


@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }

    @keyframes sequencePopup {

        0%,
        100% {
            content: "today";
        }

    }

    .typewriter::before {
        content: "today";
        animation: sequencePopup 12s linear infinite;
    }
}

/* Media Queries
====================*/

@media (max-width: 1700px) {
    .content {
        max-width: 1300px;
    }

}

@media (max-width: 1500px) {
    .content {
        max-width: 1200px;
    }

}

@media (max-width: 1250px) {
    .content {
        padding: 0 25px;
    }

    .wrap {
        background-position: 80%;
    }
}


@media (max-width: 770px) {

    .content {
        text-align: center;
        padding: 0 0;
    }

    h1 {
        // font-size: 32px;
        // line-height: 36px;
        // margin-bottom: 25px;
        padding: 0 27px;
        max-width: 100%;
        font-size: 42px;
        line-height: 52px;
        text-align: center;
        margin-bottom: 56px;
    }

    .typewriter {
        width: 124.7px;
        display: inline-block;
        white-space: nowrap;
    }

    .newline {
        display: none;
    }

}

@media (max-width: 500px) {

    .btn-green {
        width: calc(100% - 60px);
    }

}

.wave {
    opacity: 0;
    animation: arrow 2s infinite;
}

.wave1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.wave2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.wave3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}

.arrows {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 32px;
    cursor: pointer;
}


@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}


@media screen and (max-height: 600px) and (max-width: 1000px) {
    .arrows {
        display: none;
    }
}

@media screen and (max-height: 500px) and (max-width: 1000px) {
    h1 {
        margin-bottom: 30px;
    }
}



.statistics {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);

    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 30px 40px;

    width: 90%;
    max-width: 1226px;

    // margin: 0 15px;

    background: white;
    box-shadow: 0px 4px 30px 0px #3333601A;

    opacity: 0;
    animation: anim-statistics .7s 2s ease forwards;

    @media screen and (max-width: 900px) {
        padding: 20px;
    }

    @media screen and (max-width: 600px) {
        transform: translate(-50%, 40%);
        padding: 10px;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        // border: 1px solid #262626;
        padding: 20px;

        border-right: 1px solid #DBDBDB;
        padding-right: 50px;

        &:last-child {
            border: none;
            padding-right: 0;
        }

        @media screen and (max-width: 1200px) {
            padding: 10px !important;
            border-right: none;
        }

        &-title {
            font-weight: 900;
            font-size: 40px;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }

        &-description {
            font-size: 18px;

            @media screen and (max-width: 600px) {
                font-size: 12px;
            }
        }
    }
}

@keyframes anim-statistics {
    from {
        opacity: 0;
        bottom: -50px;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}