<div class="wrap">
	<div class="content">
		<h1>
			<!-- Enabling access 
			<span class="typewriter"></span> 
			<br class="newline">
			to the therapies of the future -->
			When 'Terminal' <br />
			doesn’t mean the End
		</h1>
		<button class="btn-green" (click)="openSignUpDialog()">Find a Treatment</button>		
	</div>

	<div class="statistics">
		<div class="statistics__block" *ngFor="let stat of animatedStats">
			<div class="statistics__block-title">{{ stat.displayValue }}</div>
			<div class="statistics__block-description" [innerHTML]="stat.description"></div>
		</div>
	</div>

	<!-- <app-arrows-animation class='arrows'
		(click)="scrollDown()"></app-arrows-animation> -->
</div>