<div class="wrap">
	<div class="content">
		<h1>
			<!-- Enabling access 
			<span class="typewriter"></span> 
			<br class="newline">
			to the therapies of the future -->
			When 'Terminal' <br />
			doesn’t mean the End
		</h1>
		<button class="btn-green" (click)="openSignUpDialog()">Find a Treatment</button>		
	</div>

	<div class="statistics">
		<div class="statistics__block">
			<div class="statistics__block-title">20M+</div>
			<div class="statistics__block-description">Diagnosed (2024)</div>
		</div>

		<div class="statistics__block">
			<div class="statistics__block-title">10M+</div>
			<div class="statistics__block-description">Deaths (2024)</div>
		</div>

		<div class="statistics__block">
			<div class="statistics__block-title">1 in 2</div>
			<div class="statistics__block-description">
				Males get diagnosed <br />
				in their lifetime
			</div>
		</div>

		<div class="statistics__block">
			<div class="statistics__block-title">1 in 3</div>
			<div class="statistics__block-description">
				Females get diagnosed <br /> 
				in their lifetime
			</div>
		</div>
	</div>

	<!-- <app-arrows-animation class='arrows'
		(click)="scrollDown()"></app-arrows-animation> -->
</div>