<h1>PRIVACY POLICY</h1>

<p>
    <i>Last Updated: 01/15/2025</i>
</p>

<p>
    Cancer Connector LLC ("Cancer Connector," "we," "our," and/or "us") values the privacy of individuals who use the Wondrlink website, app, and related online services (collectively, our "Services" or "Platform"). This privacy policy (the "Privacy Policy") explains how we collect, use, and share information from users of our Services ("Users," "you," and/or "your"). By using our Services, you agree to the collection, use, disclosure, and procedures this Privacy Policy describes. Beyond the Privacy Policy, your use of our Services is also subject to our Terms of Service.
</p>

<p>
    Cancer Connector aggregates data on compassionate use programs, also known as expanded access, for investigational medical products such as drugs, biologics, and medical devices. The information on Wondrlink  is provided by various stakeholders, including study sponsors and investigators, who are responsible for ensuring that the studies follow all applicable laws and regulations. Wondrlink  does not verify the scientific validity or relevance of the submitted information beyond a limited quality control review for apparent errors, deficiencies, or inconsistencies.
</p>

<p>
    Choosing to participate in a compassionate use program is an important personal decision. Before you participate, discuss all options with your healthcare provider and other trusted advisors.
</p>

<h2>INFORMATION WE COLLECT</h2>

<p>
    We may collect a variety of information from or about you or your devices from various sources, as described below.  
</p>

<p><b>Information You Provide to Us</b></p>

<p>
    <b>Registration and Profile Information.</b>If you sign up for a profile, we will use that profile to connect you with potential compassionate use programs. Your profile will contain personal data (such as your name, email address, phone number, date of birth, address, etc.). We will also collect health information from you as part of your profile. This data will be used to provide relevant program options for you and to connect you with relevant healthcare providers. Programs may invite you to participate based on anonymized information in your profile. We will not share your personal information with programs until you request to be connected. To protect your privacy, by default we will not share your actual email address and phone number with healthcare providers. Instead, they will have access to an email alias that forwards messages to your personal email and a phone number alias that forwards calls and text messages to your personal phone.
</p>

<p>
    <b>Compassionate Use Program Information.</b> If you post your program on our Services, we will collect information related to the program such as the eligibility criteria, duration of the study, and phase of clinical testing.
</p>

<p>
    <b>Communications.</b>  If you contact us directly, we may receive additional information about you. For example, if you contact us for customer support, we may receive your name, email address, phone number, the contents of the message and any attachments you send to us, and any other information you choose to provide. If you subscribe to our newsletter, we will collect certain information from you, such as your email address. You may opt-out of our communications at any time. When we send you emails, we may track whether you open them to learn how to deliver a better customer experience and improve our Services.
</p>

<p>
    <b>Careers.</b>
    If you decide to apply for a job with us, you may submit your contact information and your resume online. We will collect the information you choose to provide on your resume, such as your education and employment experience. You may also apply through LinkedIn, and if you do so, we will collect the information you make available to us on LinkedIn.
</p>

<p>
    <b>Payment Information.</b> If you make a purchase through our Services, your payment-related information, such as credit card or other financial information, is collected by our third-party payment processor on our behalf.
</p>

<p>
    <b>Information We Collect When You Use Our Services</b>
</p>

<p>
    <b>Location Information</b> When you use our Services, we infer your general location information, for example, by using your internet protocol (IP) address.
</p>

<p>
    <b>Device Information</b>
    We receive information about the device and software you use to access our Services, such as your IP address, web browser type, operating system version, phone carrier and manufacturer, application installations, device identifiers, mobile advertising identifiers, and push notification tokens.
</p>

<p>
    <b>Usage Information.</b> To help us understand how you use our Services and to help us improve them, we automatically receive information about your interactions with our Services, such as the pages or other content you view, the searches you conduct, and the dates and times of your visits.
</p>

<p>
    <b>Information from Cookies and Similar Technologies.</b>  We and third-party partners collect information using cookies, pixel tags, or similar technologies. Our third-party partners, such as analytics and advertising partners, may use these technologies to collect information about your online activities over time and across different services. Cookies are small text files containing a string of alphanumeric characters. We may use both session cookies and persistent cookies. A session cookie disappears after you close your browser. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to our Services. Please review your web browser's “Help” file to learn the proper way to modify your cookie settings. Please note that if you delete or choose not to accept cookies from the Service, you may not be able to utilize the features of the Service to their fullest potential.
</p>

<p>
    <b>Information We Receive from Third Parties</b>
</p>

<p>
    <b>Other Third Parties.</b> We may receive additional information about you, such as demographic data, from third parties such as data or marketing partners and combine it with other information we have about you.
</p>

<h2>HOW WE USE THE INFORMATION WE COLLECT</h2>

<ul>
    We may use the information we collect:
    
    <li>To provide, maintain, improve, and enhance our Services;</li>
    <li>To personalize your experience on our Services by providing tailored content and recommendations;</li>
    <li>To understand and analyze how you use our Services and develop new products, services, features, and functionality;</li>
    <li>To communicate with you via email, text, mail, or phone (including automated dialing and pre-recorded messages), provide you with updates and other information relating to our Services, provide information that you request, respond to comments and questions, and otherwise provide customer support;</li>
    <li>For marketing and advertising purposes, such as developing and providing promotional and advertising materials that may be relevant, valuable, or otherwise of interest to you;</li>
    <li>To generate anonymized, aggregate data containing only de-identified, non-personal information that we may use to publish reports;</li>
    <li>To send you text messages and push notifications;</li>
    <li>To facilitate transactions and payments;</li>
    <li>To find and prevent fraud, and respond to trust and safety issues that may arise;</li>
    <li>For compliance purposes, including enforcing our Terms of Service or other legal rights, or as may be required by applicable laws and regulations or requested by any judicial process or governmental agency;</li>
    <li>To create an anonymous profile for you on our Local Patients Registry if you choose to opt-in to this service;</li>
    <li>For other purposes for which we provide specific notice at the time the information is collected.</li>

</ul>

<h2>
    HOW WE SHARE THE INFORMATION WE COLLECT
</h2>

<p>
    <b>Affiliates.</b> We may share any information we receive with our affiliates for any of the purposes described in this Privacy Policy.
</p>

<p>
    <b>Compassionate Use Connections.</b> When you connect with a compassionate use program, we will share the information you provide with the party/parties running the program and their designated representatives. When you opt-in to the Local Patients Registry, we will share an anonymized version of your profile with researchers who believe you might be a fit for their program.
</p>

<p>
    <b>Program Sponsors.</b> When you post information about your compassionate use program on our Services, that information will be publicly viewable, including the names of any principal investigators and/or recruiting contacts.
</p>

<p>
    <b>Vendors and Service Providers.</b> We may share any information we receive with vendors and service providers retained in connection with the provision of our Services.
</p>

<p>
    <b>Analytics Partners.</b> We use analytics services such as Google Analytics to collect and process certain analytics data. These services may also collect information about your use of other websites, apps, and online resources. You can learn more about Google's practices by visiting <a href="https://policies.google.com/privacy">Google's Privacy Policy.</a>
</p>

<p>
    <b>As Required By Law and Similar Disclosures.</b> We may access, preserve, and disclose your information if we believe doing so is required or appropriate to: (a) comply with law enforcement requests and legal process, such as a court order or subpoena; (b) respond to your requests; or (c) protect your, our, or others' rights, property, or safety. For the avoidance of doubt, the disclosure of your information may occur if you post any objectionable content on or through the Services.
</p>

<p>
    <b>Merger, Sale, or Other Asset Transfers.</b> We may transfer your information to service providers, advisors, potential transactional partners, or other third parties in connection with the consideration, negotiation, or completion of a corporate transaction in which we are acquired by or merged with another company or we sell, liquidate, or transfer all or a portion of our assets. The use of your information following any of these events will be governed by the provisions of this Privacy Policy in effect at the time the applicable information was collected.
</p>

<p>
    <b>Consent.</b> We may also disclose your information with your permission.
</p>

<h2>
    YOUR CHOICES/PREFERENCES
</h2>

<p> 
    <b>Marketing Communications.</b> You can unsubscribe from our promotional emails via the link provided in the emails. Even if you opt out of receiving promotional messages from us, you will continue to receive administrative messages from us.
</p>

<p>
   <b>Data Deletion.</b>  You can request that your data and account be deleted by emailing us at hello&#xFF20;wondrlink.com.
</p>

<p> 
    <b>Do Not Track. </b> There is no accepted standard on how to respond to Do Not Track signals, and we do not respond to such signals.
</p>

<h2>THIRD PARTIES</h2>

<p>Our Services may contain links to other websites, products, or services that we do not own or operate. We are not responsible for the privacy practices of these third parties. Please be aware that this Privacy Policy does not apply to your activities on these third-party services or any information you disclose to these third parties. We encourage you to read their privacy policies before providing any information to them.</p>

<h2>SECURITY</h2>

<p>We make reasonable efforts to protect your information by using safeguards designed to improve the security of the information we maintain. However, as no electronic transmission or storage of information can be entirely secure, we can make no guarantees as to the security or privacy of your information.</p>

<h2>CHILDREN</h2>

<p>We do not knowingly collect, maintain, or use personal information from children under 13 years of age without parental consent. If you are a parent or guardian and believe your child has provided us with personal information without your consent, you may alert us at hello&#xFF20;wondrlink.com. If we learn that we have collected any personal information from children under 13 without verifiable parental consent, we will promptly take steps to delete such information and terminate the child's account.</p>

<h2>INTERNATIONAL TRANSFERS OF DATA</h2>

<p>Our Services are hosted in the United States and intended for visitors located within the United States. If you choose to use the Services from the European Union or other regions of the world with laws governing data collection and use that may differ from U.S. law, then please note that you are transferring your personal information outside of those regions to the United States for storage and processing. Also, we may transfer your data from the U.S. to other countries or regions in connection with storage and processing of data, fulfilling your requests, and operating the Services. By providing any information, including personal information, on or to the Services, you consent to such transfer, storage, and processing.</p>

<h2>ACCESSING/UPDATING YOUR INFORMATION</h2>

<p>You can update your account and profile information or close your account through your profile settings.</p>

<h2>CHANGES TO THIS PRIVACY POLICY</h2>

<p>We will post any adjustments to the Privacy Policy on this page, and the revised version will be effective when it is posted. If we materially change the ways in which we use or share personal information previously collected from you through the Services, we will notify you through the Services, by email, or other communication.</p>

<h2>CONTACT US</h2>

<p>If you have any questions, comments, or concerns about our processing activities, please email us at <a href="mailto:hello@wondrlink.com">hello&#xFF20;wondrlink.com</a>.</p>