:host {
    display: block;
    padding: 140px 20px 100px 20px;
    max-width: 1284px;
    margin: 0 auto;
    color: rgba(21, 32, 50, 1);
}

h1 {
    font-family: Sofia Pro;
    font-weight: 600;
    text-align: left;
}

h2 {
    font-family: Sofia Pro;
    text-align: left;
    font-weight: 600;
}

p {
    font-family: Sofia Pro;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(21, 32, 50, .9);
}

a {

    color: rgba(1, 193, 185, 1);

    &:hover {
        color: rgba(1, 193, 185, .7);        ;
    }

    text-decoration: underline;
}


ul {
    list-style-type: disc;

    li {
        margin-left: 33px !important;
        text-align: left;
        margin: 12px;
        color: rgba(21, 32, 50, .9);
    }
}

b {
    color: rgba(21, 32, 50, 1) !important;
}
