<h2>Join the Wondrlink community</h2>

<div class="wrap">
	<div class="card">
		<div class="content">
            <img src="assets/img/patients.svg" alt="Patients">
			<h3>Patients</h3>
			<div class="description">
                Unlock hope and discover novel therapies designed to transform your journey
			</div>
			<button routerLink="patients">
				Explore
                <img src="assets/img/arrow.svg" />
			</button>
		</div>
	</div>

    <div class="card">
		<div class="content">
            <img src="assets/img/drug-developers.svg" alt="Drug developers">
			<h3>Drug Developers</h3>
			<div class="description">
                Empowering knowledge, enabling and expanding treatment choices
			</div>
			<button routerLink="drug-developers">
				Explore
                <img src="assets/img/arrow.svg" />
			</button>
		</div>
	</div>

	<div class="card">
		<div class="content">
            <img src="assets/img/physicians.svg" alt="physicians">
			<h3>Physicians</h3>
			<div class="description">
                Treating with cutting-edge therapies and compassionate care
			</div>
			<button routerLink="physicians">
				Explore
                <img src="assets/img/arrow.svg" />
			</button>
		</div>
	</div>

    <div class="card">
        <div class="content">
            <img src="assets/img/ecosystem.svg" alt="Ecosystem">
            <h3>Ecosystem</h3>
            <div class="description">
                Comprehensive support for every step of the patient's journey
            </div>
            <button routerLink="ecosystem">
                Explore
                <img src="assets/img/arrow.svg" />
            </button>
        </div>
    </div>


</div>
