<div class="wrap">
	<div class="card">
		<div class="icon-wrap">
			<img src="assets/img/patients-icon.png" alt="patients">
		</div>
		<div class="content">
			<h3>Patients</h3>
			<div class="description">
				We deeply care to do more than what we have today for patients and to impact the lives of people around the world
			</div>
			<!-- <button class="btn-green" routerLink="/articles/patients">
				Explore
			</button> -->
		</div>
	</div>

 
	<div class="card">
		<div class="icon-wrap">
			<img src="assets/img/physicians-icon.png" alt="patients">
		</div>
		<div class="content">
			<h3>Physicians</h3>
			<div class="description">
				We approach every patient with the utmost compassion and rely on our network working together for maximum impact
			</div>
			<!-- <button class="btn-green" routerLink="/articles/ecosystem">
				Explore
			</button> -->
		</div>
	</div>

 <div class="card">
		<div class="icon-wrap">
			<img src="assets/img/industry-icon.png" alt="patients">
		</div>
		<div class="content">
			<h3>Industry</h3>
			<div class="description">
				We are committed to come together with world class expertise and extensive experience to bridge the gaps
			</div>
			<!-- <button class="btn-green" routerLink="/articles/drug-developers">
				Explore
			</button> -->
		</div>
	</div>

</div>
