.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 80px 100px;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    max-width: 850px;
}

.close {
    position: absolute;
    z-index: 1000;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    line-height: 38.25px;
    text-align: center;
    color: rgba(38, 38, 38, 1);
    margin: 0;
}

h1+span {
    color: rgba(38, 38, 38, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: center;
    opacity: 0.6;

    margin-bottom: 20px;
    display: block;
}

ng-otp-input {
    display: block;
    margin-bottom: 5px;

    & + span {
        margin-bottom: 30px;
    }
}


.btn-green {
    width: 180px;
    height: 50px;

    &:disabled {
        opacity: 0.5;
    }
}

::ng-deep {
    .ng-otp-input-wrapper {
        outline: none;
    }
}

@media screen and (max-width: 800px) {
    .wrap {
        padding: 80px 30px;
        height: 100dvh;
        max-height: 100dvh;

        &::-webkit-scrollbar {
            width: 0px;
        }

        &::-webkit-scrollbar-track {
            width: 0px;
        }
    }

    .close {
        top: -5px;
        right: -5px;
        padding: 25px;
    }

}

@media screen and (max-width: 700px) {
    .wrap {
        padding: 80px 15px;
    }
}