.wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    transition: all .5s;
    padding: 40px 25px;
    background-color: #262626;
    // margin-top: 100px;
}

footer {
    max-width: 1500px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    position: relative;
}

.logo {
    cursor: pointer;
}

ul {
    display: flex;
    gap: 40px;

    li {
        color: white;

        cursor: pointer;

        font-weight: 300;
        font-size: 18px;

        font-size: 18px;
        font-weight: 400;
        line-height: 24.59px;

        transition: all .3s;

        &:hover {
            color: #eee;
        }

        &:last-child {
            opacity: 0.6;
            cursor: unset;
            color: white;
        }

    }
}

/* Media Queries
====================*/

@media (max-width: 1700px) {
    footer {
        max-width: 1300px;
    }

}

@media (max-width: 1500px) {
    footer {
        max-width: 1200px;
    }

}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
    footer {
        flex-direction: column;
        row-gap: 40px;
    }

}


@media (max-width: 500px) {
    .logo img {
        height: 32px;
    }

    .wrap {
        padding: 48px 25px;
    }

    h2 {
        font-size: 32px;
        line-height: 37.57px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }
}