<div class="wrap">
	<div class="wrap-quotes" (mouseleave)="onMouseUp()">
		<div
			(touchstart)="onMouseDown($event)"
			(touchmove)="onTouchMove($event, 0)"
			(touchend)="onTouchEnd()"
			(mousedown)="onMouseDown($event)"
			(mousemove)="onMouseMove($event, 0)"
			(mouseup)="onMouseUp()"
			#quote1
			class="quote"
			[ngClass]="{
				'active': activeIndex == 0,
				'skipped': activeIndex > 0
			}">
			<div>
				“ At WondrLink, our mission is to bring hope to patients facing devastating illnesses such as cancer by providing the tools and knowledge to access life-saving therapies. We are committed to harnessing the power of compassion, innovation, and commitment to transform healthcare. Together, we empower you to be a champion of your own health, ensuring that no one fights alone. Our mission is to reimagine what's possible, one life at a time.”
			</div>
			<div>— 1Jonson King, Patient</div>
		</div>
		<div
			(touchstart)="onMouseDown($event)"
			(touchmove)="onTouchMove($event, 1)"
			(touchend)="onTouchEnd()"
			(mousedown)="onMouseDown($event)"
			(mousemove)="onMouseMove($event, 1)"
			(mouseup)="onMouseUp()"
			#quote2
			class="quote"
			[ngClass]="{
				'active': activeIndex == 1,
				'ready': activeIndex < 1,
				'skipped': activeIndex > 1}">
			<div>
				“ At WondrLink, our mission is to bring hope to patients facing devastating illnesses such as cancer by providing the tools and knowledge to access life-saving therapies. We are committed to harnessing the power of compassion, innovation, and commitment to transform healthcare. Together, we empower you to be a champion of your own health, ensuring that no one fights alone. Our mission is to reimagine what's possible, one life at a time.”
			</div>
			<div>— 2Jonson King, Patient</div>
		</div>
		<div
			(touchstart)="onMouseDown($event)"
			(touchmove)="onTouchMove($event, 2)"
			(touchend)="onTouchEnd()"
			(mousedown)="onMouseDown($event)"
			(mousemove)="onMouseMove($event, 2)"
			(mouseup)="onMouseUp()"
			#quote3
			class="quote"
			[ngClass]="{
				'active': activeIndex == 2,
				'ready': activeIndex < 2
			}">
			<div>
				“ At WondrLink, our mission is to bring hope to patients facing devastating illnesses such as cancer by providing the tools and knowledge to access life-saving therapies. We are committed to harnessing the power of compassion, innovation, and commitment to transform healthcare. Together, we empower you to be a champion of your own health, ensuring that no one fights alone. Our mission is to reimagine what's possible, one life at a time.”
			</div>
			<div>— 3Jonson King, Patient</div>
		</div>
	</div>

	<div class="navigation">
		<div
			class="line"
			[ngClass]="{'active': activeIndex == 0}"
			(click)="chooseQuoteByIndex(0)">
		</div>
		<div
			class="line"
			[ngClass]="{'active': activeIndex == 1}"
			(click)="chooseQuoteByIndex(1)">
		</div>
		<div
			class="line"
			[ngClass]="{'active': activeIndex == 2}"
			(click)="chooseQuoteByIndex(2)">
		</div>
	</div>
</div>
