
<div class="wrap">

    <h1>Privacy Policy</h1>
    <p style="opacity: .6;">Last modified: 2/26/2023</p>

    <p>Welcome to Cancer Connector, owned and operated by Cancer Connector LLC. We are a consulting company dedicated to connecting patients, drug companies, and doctors to enable better outcomes for patients. Our website address is <a href="https://www.cancerconnector.com">https://www.cancerconnector.com</a>.</p>
    <p><em>Cancer Connector LLC</em> ("<em>we</em>", "<em>us</em>", or "<em>our</em>") respects the privacy of our users ("<em>user</em>" or "<em>you</em>"). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website and use our services. By accessing our service, you agree to the collection and use of information in accordance with this policy.</p>


    <h2>Information Collection and Use</h2>
    <p>We collect various types of information for various purposes to provide and improve our service to you, including but not limited to:</p>
    <ul>
    <li><strong>Personal Identification Information:</strong> Such as names, email addresses, and phone numbers.</li>
    <li><strong>Health Information:</strong> Medical histories, treatment information, and other health-related data you choose to provide.</li>
    <li><strong>Usage Data:</strong> Details on how the services are accessed and used.</li>
    </ul>

    <h2>Use of Your Information</h2>
    <p>Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, information collected might be used to:</p>
    <ul>
    <li>Personalize your experience and to allow us to deliver the type of content in which you are most interested.</li>
    <li>Improve our website in order to better serve you.</li>
    <li>Allow us to better service you in responding to your customer service requests.</li>
    </ul>

    <h2>Sharing of Your Information</h2>
    <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>

    <h2>Your Privacy Rights</h2>
    <p>For California Residents</p>
    <p>California residents have specific rights regarding their personal information under the California Consumer Privacy Act (CCPA). These rights include:</p>
    <ul>
    <li>The right to know about the personal information a business collects about them and how it is used and shared.</li>
    <li>The right to delete personal information collected from them (with some exceptions).</li>
    <li>The right to opt-out of the sale of their personal information.</li>
    <li>The right to non-discrimination for exercising their CCPA rights.</li>
    </ul>
    <p>Residents of other states may have similar rights under their own state laws. We are committed to respecting these rights and will respond to such requests in accordance with applicable laws.</p>

    <h2>Changes to Our Privacy Policy</h2>
    <p>We reserve the right to make changes to this privacy policy at any time and for any reason. We will alert you about any changes by updating the “Effective Date” of this privacy policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.</p>

    <h2>Contact Us</h2>
    <p>If you have questions or comments about this Privacy Policy, please contact us at <a href="mailto:contact@cancerconnector.com">contact&#64;cancerconnector.com</a>.</p>

    <h2>Jurisdiction</h2>
    <p>This Privacy Policy shall be governed by and construed in accordance with the laws of the State of Delaware, without giving effect to any principles of conflicts of law.</p>

</div>