<div class="wrap">
	<div class="content">
		<div class="left-side">
			<h3>Contact us</h3>
			<span>
				Reach out to us at email or leave your <br /> 
				contact details and we will contact <br />
				you shortly
			</span>
			<a class="email" href="mailto:info@cancerconnector.com">
				<img src="assets/socials/email.png" alt="email">
				info&#64;cancerconnector.com
			</a>

			<div class="socials">
				<div>Follow us</div>
				<div>
					<a href="https://www.instagram.com/wondrlink/">
						<img src="assets/socials/inst.png" alt="instagram">
					</a>
					<a href="https://twitter.com/wondrlnk">
						<img src="assets/socials/twitter.png" alt="twitter">
					</a>
					<a href="https://www.facebook.com/wondrlink">
						<img src="assets/socials/fb.png" alt="facebook">
					</a>
					<img src="assets/socials/linkedin.png" alt="linkedin">
				</div>
			</div>
		</div>
		
		<div class="right-side">
			<img src="assets/img/contact-us.png" alt="contact-us">
		</div>
	</div>
</div>