<div class="wrap">
    
    <h2>Contact us</h2>
    
    <div class="content">

        <p>
            Need help finding clinical trials or investigational therapies? <br> 
            Contact us today to learn how Wondrlink can match you to <br>
            life-saving treatments.
        </p>
        <div class="block">
            <a class="wrap-email" href="mailto:info@wondrlink.com">
                <svg-icon src="assets/img/email.svg"></svg-icon>
                <span>info&#64;wondrlink.com</span>
            </a>
        </div>
        <div class="block socials">
            <a href="https://www.instagram.com/wondrlink/">
                instagram
                <svg-icon src="assets/img/inst.svg"></svg-icon>
            </a>
            <a href="https://x.com/Wondrlnk">
                twitter
                <svg-icon src="assets/img/twitter.svg"></svg-icon>
            </a>
            <a href="https://www.facebook.com/wondrlink">
                facebook
                <svg-icon src="assets/img/fb.svg"></svg-icon>
            </a>
            <a href="https://www.linkedin.com/company/wondrlink/">
                linkedin
                <svg-icon src="assets/img/linkedin.svg"></svg-icon>
            </a>
        </div>
    
    </div>
</div>
