<div class="wrap">
	<div class="content">
		<app-preview-article 
			*ngFor="let post of posts"
			[post]="post">
		</app-preview-article>

		<div class="wrap-navigation" *ngIf="posts">
			<button 
				class="btn-green" 
				*ngIf="pagesCount !== page + 1"
				(click)="onButtonMoreClick()">
				Show More
			</button>

			<div class="navigation">
				<span 
					(click)="back()"
					class="material-symbols-outlined"
					[ngClass]="{'disabled': 1 === page + 1}">
					west
				</span>

				<span class="active-page">{{ page + 1 }}</span>
				<span> / </span>
				<span>{{ pagesCount }}</span>

				<span 
					(click)="forward()"
					class="material-symbols-outlined"
					[ngClass]="{'disabled': pagesCount === page + 1}">
					east
				</span>
			</div>
		</div>
	</div>
</div>