:host {
    display: flex;
    justify-content: center;
    padding: 0px 25px 180px;
    background-color: transparent;
}

.content {
    max-width: 1500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

:host ::ng-deep.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #262626;
}

@media screen and (max-width: 500px) {
    :host {
        padding: 0px 25px 100px;
    }
}


// @media screen and (max-height: 500px) {
//     .content {
//         position: relative;
//         top: -50vh;
//     }
// }

// @media screen and (max-width: 500px) {
//     .content {
//         position: relative;
//         top: -30vh;
//     }
// }