

<form
    [class.is-sending]="isSending"
    [formGroup]="contactForm"
    (ngSubmit)="onContactFormSubmit()">
    <h2>
        <span>
            @switch (formType) {
                @case ('patients') {
                    Patient 
                }
                @case ('physicians') {
                    Physicians 
                }
                @default {
                    {{ flowData[2].companyType }} 
                }
            }
            Signup
        </span>
    </h2>

    @if (formType === 'patients') {
        <label>
            I’m signing up as
        </label>
    }
    

    @if (formType === 'patients') {
        <div class="wrap-checkboxes">
            <div
                class="checkbox"
                [class.active]="isMySelf"
                (click)="chooseSigningUpFor(true)">
                Patient
            </div>
            <div
                class="checkbox"
                [class.active]="!isMySelf"
                (click)="chooseSigningUpFor(false)">
                Caregiver
            </div>
        </div>
    }
    

    <div class="wrap-inputs">
        <!-- < BEFORE BACKK WILL DONE company, now it's organization  -->
        @if (formType === 'drug-developers' || formType === 'ecosystem') {
            <div
                class="group"
                data-company="true">
                <label for="company">Organization</label>
                <input
                    autocomplete="organization"
                    tabindex="1"
                    type="text" required
                    placeholder="Company name"
                    id="company" name="company"
                    formControlName="companyName"
                    #formInput>
            </div>
        }
        <!-- </ BEFORE BACKK WILL change company, now it's organization  -->

        <div class="row full-name">
            <div class="group" data-firstName="true">
                <label for="given-name">
                    Name
                    <!-- {{ formType === 'patients' ? 'Patient' : '' }}  First name -->
                </label>
                <input
                    id="given-name"
                    autocomplete="given-name"
                    name="given-name"
                    #formInput
                    formControlName="firstName"
                    placeholder="First"
                    required
                    tabindex="2"
                    type="text">
            </div>

            <div class="group" data-lastName="true">
                <label for="family-name" [style.opacity]="0">
                    Last
                </label>
                <input
                    id="family-name"
                    autocomplete="family-name"
                    name="family-name"
                    #formInput
                    formControlName="lastName"
                    placeholder="Last"
                    required
                    tabindex="2"
                    type="text">
            </div>

        </div>
        

        @if (formType === "drug-developers" || formType === "ecosystem") {
            
            <div class="row">
            
                <div class="group" data-select="true">
                    <label for="function">Function</label>
                    <select
                        id="function"
                        [ngClass]="{'select-placeholder_active': isFunctionPlaceholder}"
                        (change)="deactiveFunctionSelectPlaceholder()"
                        name="function"
                        #formInput
                        formControlName="function"
                        tabindex="3">
                    <option value="" disabled selected hidden id="placeholder">Select</option>
                    <option *ngFor="let function of functionInputData"
                        [value]="function">
                        {{ function }}
                    </option>
                    </select>
                </div>
                
                <div class="group">
                    <label for="position">
                        Position
                    </label>
                    <input
                        id="position"
                        name="position"
                        #formInput
                        formControlName="position"
                        placeholder="Role"
                        required
                        tabindex="4"
                        type="text">
                </div>

            </div>
        } 
        

        <div class="row">

            <div class="group">
                <label for="tel-national">Phone</label>
                <div class="phone-wrap">
                    <input
                        name="tel-national" autocomplete="tel-national"
                        [style.padding-left]="telephonePadding + 'px'"
                        #formInput
                        formControlName="phone"
                        placeholder="xxx-xxx-xxxx"
                        required
                        tabindex="5"
                        type="text">
                        <app-country-codes
                            [currentCountry]="inputCountry"
                            [isOpen]="isOpenedPhoneDropdown"
                            (countryCode)="onCodeSelected($event)">
                        </app-country-codes>
                </div>
            </div>
            <div class="group">
                <label for="email">Email</label>
                <input
                    id="email"
                    name="email"
                    placeholder="name@example.com"
                    #formInput
                    autocomplete="on"
                    formControlName="email"
                    required
                    tabindex="6"
                    type="email">
            </div>

        </div>
        


        <div class="group">
            <label for="c&#8291;ity">Location</label>
            <app-input-location-autocomplete
                [isValid]="contactForm.get('location')!.valid || !contactForm.get('location')!.dirty"
                formControlName="location">
            </app-input-location-autocomplete>
        </div>
    </div>


    <div
        class="wrap-btn"
        [ngSwitch]="formType">
        <button
            *ngSwitchCase="'patients'"
            class="btn-green"
            [disabled]="!this.contactForm.valid"
            (click)="onNextStep()"
            type="button">
            Next
        </button>
        <button
            *ngSwitchDefault
            type="submit"
            class="btn-green"
            [disabled]="!this.contactForm.valid">
            Submit
        </button>
    </div>

    <mat-spinner *ngIf="isSending"></mat-spinner>
</form>


