<div class="wrap">
	<div class="content">
		<div class="info">
			<div class="card">
				<img src="assets/img/care.png" alt="care">
			</div>
			<h4>Care</h4>
			<div class="description">
				We deeply care to do more than what we have today for patients and to impact the lives of people around the world
			</div>
		</div>

		<div class="info">
			<div class="card">
				<img src="assets/img/compassion.png" alt="care">
			</div>
			<h4>Compassion</h4>
			<div class="description">
				We approach every patient with the utmost compassion and rely on our network working together for maximum impact
			</div>
		</div>

		<div class="info">
			<div class="card">
				<img src="assets/img/commitment.png" alt="care">
			</div>
			<h4>Commitment</h4>
			<div class="description">
				We are committed to come together with world class expertise and extensive experience to bridge the gaps and solve the problems that patients face
			</div>
		</div>
	</div>
</div>