<div class="wrap">
	<div class="content">
		<h2>Latest Insights</h2>

        <div class="insights">
            @for (post of posts; track post.id) {
                <a
                    [routerLink]="'insights/' + post.id"
                    class="insights__item">
                    <div class="insights__item-title">
                        {{ post.header }}
                    </div>
                    <div class="insights__item-description">
                        {{ extractDescription(post) }}
                    </div>
                    <button class="insights__item-explore">
                        Explore
                        <img src="assets/img/arrow.svg" alt="Arrow" />
                    </button>
                </a>
            }
        </div>

        <button class="btn-green" routerLink="insights">Go to Blog</button>
	</div>
</div>